<span class="rating --clickable js-rating">
  <label class="rating__star --filled">
    <input type="radio" name="rating" value="1">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </label>
  <label class="rating__star --filled">
    <input type="radio" name="rating" value="2">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </label>
  <label class="rating__star --filled">
    <input type="radio" name="rating" value="3" class="js-required" checked>
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </label>
  <label class="rating__star">
    <input type="radio" name="rating" value="4">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </label>
  <label class="rating__star">
    <input type="radio" name="rating" value="5">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </label>
</span>
