<span class="rating">
  <span class="rating__star --filled">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </span>
  <span class="rating__star --filled">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </span>
  <span class="rating__star --filled">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </span>
  <span class="rating__star">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </span>
  <span class="rating__star">
    <svg><use xlink:href="./img/svg/svg-sprite.svg#rating-star"></use></svg>
  </span>
</span>
