<div class="action-card">
  <div class="action-card__img">
    <div class="action-card__tags">
      <a href="#" class="btn --red --small">Акции</a>
    </div>
    <img src="./img/common/action-1.jpg" alt="">
  </div>
  <div class="action-card__info">
    <div class="action-card__date">22.06.19</div>
    <a href="#" class="action-card__title">Тест летних спортивных покрышек в типоразмере 245/30R20 от издаТест летних
      спортивных покрышек в типоразмере 245/30R20 от изда</a>
    <div class="action-card__desc">Сэкономь 5% при покупке зимних шин по промокоду + 1 грн за хранение
      Сэкономь 5% при покупке зимних шин по промокоду + 1 грн за хранение</div>
  </div>
</div>
