<div class="advantages --on-product">
  <div class="advantages__content">
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-1.png" alt="">
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-2.png" alt="">
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-3.png" alt="">
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-4.png" alt="">
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-5.png" alt="">
      </div>
    </div>
  </div>
</div>
