<div class="advantages --on-listing">
  <div class="advantages__content wrapper">
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-1.png" alt="">
      </div>
      <div class="advantage__text">Официальная гарантия на Bridgestone от любых повреждений</div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-2.png" alt="">
      </div>
      <div class="advantage__text">Бесплатная доставка в точки выдачи</div>
    </div>
<!--    <div class="advantage">-->
<!--      <div class="advantage__img">-->
<!--        <img src="./img/common/pic-3.png" alt="">-->
<!--      </div>-->
<!--      <div class="advantage__text">20 специализированных сервисных центров в 8 городах</div>-->
<!--    </div>-->
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-4.png" alt="">
      </div>
      <div class="advantage__text">Программа лояльности Fishka</div>
    </div>
    <div class="advantage">
      <div class="advantage__img">
        <img src="./img/common/pic-5.png" alt="">
      </div>
      <div class="advantage__text">Гибкая система кредитования от крупнейших банков</div>
    </div>
  </div>
</div>
