<div class="centers js-centers">
  <div class="wrapper">
    <div class="centers__title">Выбор города</div>
    <div class="centers__btns">
      <button class="tire-center-btn">ХАРЬКОВ</button>
      <button class="tire-center-btn">ДНЕПР</button>
      <button class="tire-center-btn">КИЕВ</button>
      <button class="tire-center-btn">ЗАПОРОЖЬЕ</button>
      <button class="tire-center-btn">херсон</button>
      <button class="tire-center-btn">Львов</button>
      <button class="tire-center-btn">сумы</button>
      <button class="tire-center-btn">черкассы</button>
    </div>
  </div>
</div>
