<div class="centers js-centers">
  <div class="wrapper">
    <div class="centers__desktop">
      <div class="centers__title">Выбор города</div>
      <div class="centers__btns">
        <button class="tire-center-btn">ХАРЬКОВ</button>
        <button class="tire-center-btn">ДНЕПР</button>
        <button class="tire-center-btn">КИЕВ</button>
        <button class="tire-center-btn">ЗАПОРОЖЬЕ</button>
        <button class="tire-center-btn">херсон</button>
        <button class="tire-center-btn">Львов</button>
        <button class="tire-center-btn">сумы</button>
        <button class="tire-center-btn">черкассы</button>
      </div>
    </div>

    <div class="centers__mob">
      <div class="centers__title">Выберите ваш город</div>
      <select name="selected-city" required class="js-sumo-select">
        <option disabled selected value="">Выберите город</option>
        <option value="ХАРЬКОВ">ХАРЬКОВ</option>
        <option value="ДНЕПР">ДНЕПР</option>
        <option value="КИЕВ">КИЕВ</option>
        <option value="ЗАПОРОЖЬЕ">ЗАПОРОЖЬЕ</option>
        <option value="херсон">херсон</option>
        <option value="Львов">Львов</option>
        <option value="сумы">сумы</option>
        <option value="черкассы">черкассы</option>
      </select>
    </div>
  </div>
</div>
