<div class="modal --style-2" id="disk-filter">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="filter-container --disc-filter js-filter-container">
      <div class="filter-container__title">
        Подбор дисков
        <span class="js-header-params">по параметрам</span>
        <span class="js-header-auto is-hidden">по автомобилю</span>
      </div>

      <div class="filter-container__header-cta">
        <button class="btn --red-transparent --full-width js-header-cta --middle">
          <span class="header-cta--auto">Подобрать по автомобилю</span>
          <span class="header-cta--params">Подобрать по параметрам</span>
        </button>
      </div>

      <div class="filter-container__drop-filters">
        <span class="js-reset-filter">Сбросить фильтры</span>
      </div>

      <div class="filter-container__body-params js-filter-by-params">
        <div class="main-size">
          <div class="fillter-wrapper">
            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper js-init-custom-select">
                <select groups="false" name="width" required="">
                  <option hidden=""></option>
                  <option value="123">135</option>
                  <option value="456">145</option>
                  <option disabled="" value="654">155</option>
                  <option value="789">165</option>
                  <option value="987">175</option>
                  <option value="1123">135</option>
                  <option value="1456">145</option>
                  <option disabled="" value="1654">155</option>
                  <option value="1789">165</option>
                  <option value="1987">175</option>
                  <option value="2123">135</option>
                  <option value="2456">145</option>
                  <option disabled="" value="2654">155</option>
                  <option value="2789">165</option>
                  <option value="2987">175</option>
                </select>
                <label class="fillter-title">Ширина</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay js-close-button-mobile"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите ширину</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper js-init-custom-select">
                <select groups="false" name="diameter" required="">
                  <option hidden=""></option>
                  <option value="123">d123</option>
                  <option value="456">d234</option>
                  <option disabled="" value="654">d343100</option>
                  <option value="789">d3436575</option>
                  <option value="987">d34333</option>
                </select>
                <label class="fillter-title">Диаметр</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay js-close-button-mobile"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите диаметр</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper custom-select-wrapper__height js-init-custom-select">
                <select groups="false" name="PCD" required="">
                  <option hidden=""></option>
                  <option value="456">32323232323</option>
                  <option value="456">12</option>
                  <option disabled="" value="654">23</option>
                  <option value="789">34</option>
                  <option value="987">45</option>
                  <option value="4562">56</option>
                  <option disabled="" value="6543">67</option>
                  <option value="7894">78</option>
                  <option value="9875">89</option>
                  <option value="456">45</option>
                  <option disabled="" value="654">33</option>
                  <option value="789">34</option>
                  <option value="987">45</option>
                  <option value="4562">56</option>
                  <option disabled="" value="6543">67</option>
                  <option value="7894">78</option>
                  <option value="9875">89</option>
                </select>
                <label class="fillter-title">PCD</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay js-close-button-mobile"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите PCD</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-params">
          <div class="brand-wrapper">
            <div class="fillter-wrapper__cols --col-1">
              <div class="custom-select-wrapper custom-select-wrapper__brand js-init-custom-select">
                <select groups="true" multiple="" name="brand" required="">
                  <option hidden=""></option>
                  <option group="premium" value="123">Bridgesbritone p (20)</option>
                  <option group="premium" value="234">Continental p (16)</option>
                  <option group="premium" value="345">Dunlop p (8)</option>
                  <option group="premium" value="456">Goodyear p (18)</option>
                  <option group="premium" value="567">Michelin p (0)</option>
                  <option group="premium" value="678">Nokian p (8)</option>
                  <option group="comfort" value="1123213">Bridgesbritone c (20)</option>
                  <option group="comfort" value="1234">Continental c (16)</option>
                  <option group="comfort" value="1345">Dunlop c (8)</option>
                  <option group="comfort" value="1456">Goodyear c (18)</option>
                  <option disabled="" group="comfort" value="1567">Michelin c (0)</option>
                  <option group="comfort" value="1678">Nokian c (8)</option>
                  <option group="standart" value="2123">Bridgesbritone s (20)</option>
                  <option group="standart" value="2234">Continental s (16)</option>
                  <option group="standart" value="2345">Dunlop s (8)</option>
                  <option group="standart" value="2456">Goodyear s (18)</option>
                  <option disabled="" group="standart" value="2567">Michelin s (0)</option>
                  <option group="standart" value="2678">Nokian s (8)</option>
                  <option group="premium" value="3123">Bridgesbritone p (20)</option>
                  <option group="premium" value="3234">Continental p (16)</option>
                  <option group="premium" value="3345">Dunlop p (8)</option>
                  <option group="premium" value="3456">Goodyear p (18)</option>
                  <option group="premium" value="3567">Michelin p (0)</option>
                  <option group="premium" value="3678">Nokian p (8)</option>
                  <option group="comfort" value="1123">Bridgesbritone c (20)</option>
                  <option group="comfort" value="31234">Continental c (16)</option>
                  <option group="comfort" value="31345">Dunlop c (8)</option>
                  <option group="comfort" value="31456">Goodyear c (18)</option>
                  <option disabled="" group="comfort" value="31567">Michelin c (0)</option>
                  <option group="comfort" value="31678">Nokian c (8)</option>
                  <option group="standart" value="32123">Bridgesbritone s (20)</option>
                  <option group="standart" value="32234">Continental s (16)</option>
                  <option group="standart" value="32345">Dunlop s (8)</option>
                  <option group="standart" value="32456">Goodyear s (18)</option>
                  <option disabled="" group="standart" value="32567">Michelin s (0)</option>
                  <option group="standart" value="122678">Nokian s (8)</option>
                </select>
                <label class="fillter-title">Бренд</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay js-close-button-mobile"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown select-dropdown__checkbox">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите бренд</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__groups js-dropdown-groups">
                            <div class="select-dropdown__group js-select-group" data-group-id="premium">ПРЕМИУМ СЕГМЕНТ</div>
                            <div class="select-dropdown__group js-select-group" data-group-id="comfort">КОМФОРТ СЕГМЕНТ</div>
                            <div class="select-dropdown__group js-select-group" data-group-id="standart">СТАНДАРТ СЕГМЕНТ</div>
                          </div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all">
                            <div class="select-dropdown__group-items js-select-group-cont" data-group-id="premium" data-group-label="ПРЕМИУМ СЕГМЕНТ"></div>
                            <div class="select-dropdown__group-items js-select-group-cont" data-group-id="comfort" data-group-label="КОМФОРТ СЕГМЕНТ"></div>
                            <div class="select-dropdown__group-items js-select-group-cont" data-group-id="standart" data-group-label="СТАНДАРТ СЕГМЕНТ"></div>
                          </div>
                        </div>
                        <div class="select-dropdown--footer">
                          <button class="btn --red --middle select-multiple-button --disabled">Выбрать</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="type-wrapper">
            <div class="fillter-title">Тип диска</div>
            <div class="checkbox-wrapper">
              <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
                <span>Легкосплавные</span>
              </label>
              <label class="container">
                <input type="checkbox">
                <span class="checkmark"></span>
                <span>Стальные</span>
              </label>
            </div>
          </div>

          <div class="slider-wrapper">
            <label class="price-input-wrapper">
              <span class="fillter-title">Цена от:</span>
              <input class="input-price-slider-low input-price-slider js-input-price-slider-low-params" min="200" type="text">
            </label>
            <div class="price-slider js-price-slider-params"></div>
            <label class="price-input-wrapper">
              <span class="fillter-title">Цена до:</span>
              <input class="input-price-slider-high input-price-slider js-input-price-slider-high-params" max="30000" type="text">
            </label>
          </div>

          <div class="filter-container__body--cta">
            <button class="btn --red --middle --full-width --disabled js-get-result">Подобрать Диски</button>
          </div>
        </div>
      </div>

      <!-- Подбор шин по автомобилю -->
      <div class="filter-container__body-auto is-hidden js-filter-by-auto">
        <div class="fc-selectors fc-selectors--auto">
          <div class="auto-size">
            <div class="fillter-wrapper">
              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-brand js-init-custom-select">
                  <select groups="false" name="auto-brand" required="">
                    <option hidden=""></option>
                    <option value="123">Alfa Romeo</option>
                    <option value="456">Acura</option>
                    <option disabled="" value="654">Aston Martin</option>
                    <option value="789">Audi</option>
                    <option value="7892">Bullet</option>
                    <option value="789222">Cheetah</option>
                    <option value="789222">Dacia</option>
                    <option value="789222">Emgrand</option>
                    <option value="789222">Finch</option>
                    <option value="78922212">Ford</option>
                    <option value="789222">Gatsby</option>
                    <option value="789222">Hanomag</option>
                    <option value="789222">Isotta-Fraschini</option>
                    <option value="789222">Jaguar</option>
                    <option value="789222">Karmann</option>
                    <option value="789222">Lancia</option>
                    <option value="789222">Marcopolo</option>
                    <option value="789222">National</option>
                    <option value="789222">Oakland</option>
                    <option value="789222">Pagani</option>
                    <option value="789222">Qvale</option>
                    <option value="7892224324">Rambler</option>
                    <option value="78922232323">SAIC</option>
                    <option value="78922232323">Tronatic</option>
                    <option value="78922232323">Unicat</option>
                    <option value="78922232323">Vauxhall</option>
                    <option value="78922232323">Wuzhoulong</option>
                    <option value="78922232323">Xin Kai</option>
                    <option value="78922232323">Yulon</option>
                    <option value="78922232323">Zedriv</option>
                    <option value="78922232323">Богдан</option>
                    <option value="78922232323">ВМЗ</option>
                    <option value="78922232323">ГАЗ</option>
                    <option value="78922232323">ЗИЛ</option>
                    <option value="78922232323">КамАЗ</option>
                    <option value="78922232323">Москвич</option>
                    <option value="78922232323">УАЗ</option>
                  </select>
                  <label class="fillter-title">Марка</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay js-close-button-mobile"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите марку</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <span class="select-dropdown__clear-search js-clear-search">&times;</span>
                          <div class="select-keyboard js-select-keyboard" data-is-keyboard="true"></div>
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-model js-init-custom-select">
                  <select groups="false" name="auto-model" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Модель</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay js-close-button-mobile"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите модель</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-year js-init-custom-select">
                  <select groups="false" name="auto-year" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Год</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay js-close-button-mobile"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите год</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-mod js-init-custom-select">
                  <select groups="false" name="auto-mod" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Модификация</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay js-close-button-mobile"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите модификацию</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-container__body--cta">
          <button class="btn --red --middle --full-width --disabled js-get-result">Подобрать диски</button>
        </div>
      </div>

      <div class="filter-container__body--cta--mob">
        <button class="btn --red --full-width --disabled js-get-result">Подобрать диски</button>
      </div>
    </div>
  </div>
</div>
