<footer class="footer">
  <div class="wrapper">
    <div class="footer__title">Профессиональное обслуживание</div>
    <div class="footer__text">Нужна помощь в выборе шин и дисков? Наша команда квалифицированных экспертов с
      удовольствием поможет сделать Ваш выбор приятным и оптимальным. Просто позвоните нам или отправьте e-mail.
      Мы работаем, чтобы Вы чувствовали себя комфортно и безопасно!
    </div>
    <div class="footer__contacts">
      <span class="icon-text">
        <span class="icon-text__icon">
          <svg viewBox="0 0 24 24" width="24"><use xlink:href="./img/svg/svg-sprite.svg#phone"></use></svg>
        </span>
        <span class="icon-text__main">
          <a class="icon-text__link" href="tel:0800333333">0800 333 333</a>
          <span class="icon-text__tip">Бесплатно с любого номера</span>
        </span>
      </span>
      <span class="icon-text">
        <span class="icon-text__icon">
          <svg viewBox="0 0 25 26" width="25"><use xlink:href="./img/svg/svg-sprite.svg#mail"></use></svg>
        </span>
        <span class="icon-text__main">
          <a class="icon-text__link" href="mailto:info@tshina.ua">info@tshina.ua</a>
        </span>
      </span>
    </div>
    <div class="footer__schedule">Понедельник-Воскресенье с <b>8<sup>00</sup></b> до <b>20<sup>00</sup></b> без
      перерывов и выходных</div>
    <a href="#" class="btn --red-transparent --middle">контакты</a>
    <div class="footer__photo" style="background-image: url(./img/common/bg-3.jpg)"></div>
  </div>
  <div class="footer__btm">
    <div class="wrapper">
      <div class="footer__cols">
        <div class="footer__col">
          <div class="footer__col-title">Продукты и сервис</div>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#">Купить шины</a>
            </li>
            <li class="footer__link">
              <a href="#">Купить диски</a>
            </li>
            <li class="footer__link">
              <a href="#">Запись на шиномонтаж</a>
            </li>
            <li class="footer__link">
              <a href="#">Услуга сезонного хранения шин</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <div class="footer__col-title">Поддержка клиентов</div>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#">Гарантия</a>
            </li>
            <li class="footer__link">
              <a href="#">Возврат товара</a>
            </li>
            <li class="footer__link">
              <a href="#">Программа лояльности Fishka</a>
            </li>
            <li class="footer__link">
              <a href="#">Кредит</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <div class="footer__col-title">Информация о нас</div>
          <ul class="footer__links">
            <li class="footer__link">
              <a href="#">О нас</a>
            </li>
            <li class="footer__link">
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__logo">
          <a href="/" class="block-logo --style-2">
            <span class="block-logo__img">
              <img src="./img/svg/logo-circle.svg" alt="">
            </span>
            <span class="block-logo__name">
              <img src="./img/svg/logo-name.svg" alt="">
            </span>
          </a>
        </div>
        <div class="footer__soc">
          <div class="socials">
            <a href="#" class="socials__item icon icon-twitter"></a>
            <a href="#" class="socials__item icon icon-youtube-play"></a>
            <a href="#" class="socials__item icon icon-facebook"></a>
            <a href="#" class="socials__item icon icon-instagram"></a>
            <a href="#" class="socials__item icon icon-gplus"></a>
          </div>
          <div class="footer__copy">2014-2020 Интернет-магазин шин и дисков <a href="/">tshina.ua</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>

@@include('_modals.html')

<script async type='text/javascript' id='track' charset='utf-8' data-lang='ua' apiKey='' data-town='city-not-default' data-town-name='undefined' data-town-id='undefined' src='https://apimgmtstorelinmtekiynqw.blob.core.windows.net/content/MediaLibrary/Widget/Tracking/dist/track.min.js'></script>
<script src="./js/libs.min.js"></script>
<script src="./js/bundle.js"></script>
