<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:fb="http://ogp.me/ns/fb#"
       xmlns:og="http://ogp.me/ns#"
       xmlns:og="http://ogp.me/ns#"
       lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML Site</title>
  <meta name="robots" content="index, follow">
  <!--desc-->
  <meta name="apple-mobile-web-app-title" content="HTML Site">
  <meta name="description" content="HTML Site">
  <meta name="keywords" content="HTML Site">
  <!--sharing -->
  <meta property="og:title" content="HTML Site">
  <meta property="og:locale" content="en_EN">
  <meta property="og:site_name" content="HTML Site">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="HTML Site">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="HTML Site">
  <meta name="twitter:description" content="HTML Site">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:domain" content="">
  <!--favicon-->
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="./favicon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./favicon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./favicon.png">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <link rel="stylesheet" href="./css/libs.css">
  <link rel="stylesheet" href="./css/bundle.css">
</head>
<body>

<header class="header">
  <div class="header__content wrapper">
    <div class="header__aside">
      <div class="header__aside-stub"></div>
      <div class="header__aside-btn --burger js-toggle-mob-menu">
        <span class="burger">
          <span class="burger__bars"></span>
          <span class="burger__bars"></span>
          <span class="burger__bars"></span>
          <span class="burger__bars"></span>
        </span>
      </div>
      <div class="header__aside-btn --disabled">
        <a href="/types.html" class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 36 35" width="36" stroke="black"><use xlink:href="./img/svg/svg-sprite.svg#type"></use></svg>
          </span>
          <span class="header__aside-btn-text">Шины</span>
        </a>
      </div>
      <div class="header__aside-btn">
        <a href="/disks.html" class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 36 35" width="36" stroke="none"><use xlink:href="./img/svg/svg-sprite.svg#disc"></use></svg>
          </span>
          <span class="header__aside-btn-text">Диски</span>
        </a>
      </div>
      <div class="header__aside-btn">
        <a href="/tires-centers.html" class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 29 35" width="29"><use xlink:href="./img/svg/svg-sprite.svg#location"></use></svg>
          </span>
          <span class="header__aside-btn-text">Шинные центры</span>
        </a>
      </div>
      <div class="header__aside-btn">
        <a href="/record.html" class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#service"></use></svg>
          </span>
          <span class="header__aside-btn-text">Запись на сервис</span>
        </a>
      </div>
      <div class="header__aside-btn js-help-links">
        <span class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#question"></use></svg>
          </span>
          <span class="header__aside-btn-text">Помощи и советы</span>
        </span>
        <span class="header__aside-sub-menu">
          <span class="header__aside-sub-menu-title">Помощь в выборе шин и дисков</span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Калькулятор шин</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Как выбрать шины и диски</a>
          </span>
          <span class="header__aside-sub-menu-title">Информация о сервисе</span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Ремонт шин и дисков</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Бесплатная программа проверки шин и дисков</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Услуга сезонного хранения шин</a>
          </span>
          <span class="header__aside-sub-menu-title">Техническая информация</span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Все, что нужно знать о давлении в шинах</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Как расшифровать маркировку шины</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Индексы скорости и нагрузки автомобильных шин</a>
          </span>
          <span class="header__aside-sub-menu-title">Общая информация</span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Сезонное хранение шин и дисков</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Срок годности шины: все, что нужно знать водителю</a>
          </span>
          <span class="header__aside-sub-menu-link">
            <a href="#">Что скрывается за словами «аквапланирование» и «слэшпленинг»</a>
          </span>
        </span>
      </div>
      <div class="header__aside-btn">
        <a href="#" class="header__aside-link">
          <span class="header__aside-btn-icon">
            <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#truck"></use></svg>
          </span>
          <span class="header__aside-btn-text">Грузовой сервис</span>
        </a>
      </div>
    </div>

    <div class="header__burger js-toggle-mob-menu">
      <span class="burger">
        <span class="burger__bars"></span>
        <span class="burger__bars"></span>
        <span class="burger__bars"></span>
        <span class="burger__bars"></span>
      </span>
    </div>

    <div class="header__logo">
      <a href="/" class="block-logo --style-3">
        <span class="block-logo__img">
          <img src="./img/svg/logo-circle.svg" alt="">
        </span>
          <span class="block-logo__name">
          <img src="./img/svg/logo-name.svg" alt="">
        </span>
          <span class="block-logo__text">
          <img src="./img/logo-text.png" alt="">
        </span>
      </a>
    </div>

    <div class="header__phone">
      <span class="phone-modal --large">
        <span class="phone-modal__icon">
          <svg viewBox="0 0 20 20" width="20"><use xlink:href="./img/svg/svg-sprite.svg#phone"></use></svg>
        </span>
        <span class="phone-modal__main">
          <span class="phone-modal__main-phone">0800 303 336</span>
          <span class="phone-modal__tip">Бесплатно с любого номера</span>
        </span>

        <span class="phone-modal__modal">
          <span class="phone-modal__icon">
            <svg viewBox="0 0 20 20" width="20"><use xlink:href="./img/svg/svg-sprite.svg#phone"></use></svg>
          </span>
          <span class="phone-modal__main-phone">0800 303 336</span>
          <span class="phone-modal__tip">Бесплатно с любого номера</span>
          <span class="phone-modal__modal-item">
            <span class="phone-modal__modal-icon">
              <svg viewBox="0 0 16 16" width="16"><use xlink:href="./img/svg/svg-sprite.svg#kyivstar"></use></svg>
            </span>
            <a href="tel:0672092112" class="phone-modal__modal-tel">(067) 209-21-12</a>
          </span>
          <span class="phone-modal__modal-item">
            <span class="phone-modal__modal-icon">
              <svg viewBox="0 0 16 16" width="16"><use xlink:href="./img/svg/svg-sprite.svg#vodaphone"></use></svg>
            </span>
            <a href="tel:0503619131" class="phone-modal__modal-tel">(050) 361-91-31</a>
          </span>
          <span class="phone-modal__modal-item">
            <span class="phone-modal__modal-icon">
              <svg viewBox="0 0 16 16" width="16"><use xlink:href="./img/svg/svg-sprite.svg#telegram"></use></svg>
            </span>
            <a href="#" class="phone-modal__modal-link">@botservice</a>
            <span class="phone-modal__modal-tip">Бот для записи на сервис</span>
          </span>
          <span class="phone-modal__modal-btn">
            <button class="btn --red --middle --full-width js-order-call">заказать звонок</button>
          </span>
        </span>
      </span>
    </div>

    <div class="header__links">
      <a href="#">Оплата и доставка</a>
      <a href="#">Гарантии</a>
      <a href="#">Акции</a>
      <a href="#">Контакты</a>
    </div>

    <div class="header__info">
      <button class="btn --white js-open-login-form">
        <svg viewBox="0 0 22 22" width="22"><use xlink:href="./img/svg/svg-sprite.svg#person-key"></use></svg>
        вход
      </button>

      <button class="btn --white --icon js-open-mini-cart">
        <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
        <span class="btn__counter">18</span>
      </button>

      @@include('_header-langs.html')
    </div>
  </div>
</header>
