<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:fb="http://ogp.me/ns/fb#"
       xmlns:og="http://ogp.me/ns#"
       xmlns:og="http://ogp.me/ns#"
       lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML Site</title>
  <meta name="robots" content="index, follow">
  <!--desc-->
  <meta name="apple-mobile-web-app-title" content="HTML Site">
  <meta name="description" content="HTML Site">
  <meta name="keywords" content="HTML Site">
  <!--sharing -->
  <meta property="og:title" content="HTML Site">
  <meta property="og:locale" content="en_EN">
  <meta property="og:site_name" content="HTML Site">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="HTML Site">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="HTML Site">
  <meta name="twitter:description" content="HTML Site">
  <meta name="twitter:image:src" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:domain" content="">
  <!--favicon-->
  <link rel="shortcut icon" href="./favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="./favicon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./favicon.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./favicon.png">
  <meta name="theme-color" content="#000">
  <meta name="msapplication-navbutton-color" content="#000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <link rel="stylesheet" href="./css/libs.css">
  <link rel="stylesheet" href="./css/bundle.css">
</head>
<body>

<header class="header">
  <div class="header__content wrapper">
    <div class="header__aside">
      <div class="header__aside-stub"></div>
      <div class="header__aside-btn --burger">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 36" width="36" stroke="black"><use xlink:href="./img/svg/svg-sprite.svg#burger"></use></svg>
        </span>
      </div>
      <a href="#" class="header__aside-btn --disabled">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 35" width="36" stroke="black"><use xlink:href="./img/svg/svg-sprite.svg#type"></use></svg>
        </span>
        <span class="header__aside-btn-link">Шины</span>
      </a>
      <a href="#" class="header__aside-btn">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 35" width="36" stroke="none"><use xlink:href="./img/svg/svg-sprite.svg#disc"></use></svg>
        </span>
        <span class="header__aside-btn-link">Диски</span>
      </a>
      <a href="#" class="header__aside-btn">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 29 35" width="29"><use xlink:href="./img/svg/svg-sprite.svg#location"></use></svg>
        </span>
        <span class="header__aside-btn-link">Шинные центры</span>
      </a>
      <a href="#" class="header__aside-btn">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#service"></use></svg>
        </span>
        <span class="header__aside-btn-link">Запись на сервис</span>
      </a>
      <a href="#" class="header__aside-btn">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#question"></use></svg>
        </span>
        <span class="header__aside-btn-link">Помощи и советы</span>
      </a>
      <a href="#" class="header__aside-btn">
        <span class="header__aside-btn-icon">
          <svg viewBox="0 0 36 35" width="36"><use xlink:href="./img/svg/svg-sprite.svg#truck"></use></svg>
        </span>
        <span class="header__aside-btn-link">Грузовой сервис</span>
      </a>
    </div>

    <div class="header__logo">
      <a href="/" class="block-logo --style-3">
        <span class="block-logo__img">
          <img src="./img/svg/logo-circle.svg" alt="">
        </span>
          <span class="block-logo__name">
          <img src="./img/svg/logo-name.svg" alt="">
        </span>
          <span class="block-logo__text">
          <img src="./img/logo-text.png" alt="">
        </span>
      </a>
    </div>

    <div class="header__phone">
      <span class="phone-list --large">
        <span class="phone-list__icon">
          <svg viewBox="0 0 20 20" width="20"><use xlink:href="./img/svg/svg-sprite.svg#phone"></use></svg>
        </span>
        <span class="phone-list__main">
          <span class="modal-list">
            <a href="tel:0800303336" class="modal-list__selected">0800 303 336</a>
            <span class="modal-list__modal">
              <span class="modal-list__modal-item">
                <a href="tel:0800333333" class="modal-list__phone">0800 333 333</a>
              </span>
              <span class="modal-list__modal-item">
                <a href="tel:0800444444" class="modal-list__phone">0800 444 444</a>
              </span>
            </span>
          </span>
          <span class="phone-list__tip">Бесплатно с любого номера</span>
        </span>
      </span>
    </div>

    <div class="header__links">
      <a href="#">Оплата и доставка</a>
      <a href="#">Гарантии</a>
      <a href="#">Акции</a>
      <a href="#">Контакты</a>
    </div>

    <div class="header__info">
      <button class="btn --white js-open-login-form">
        <svg viewBox="0 0 22 22" width="22"><use xlink:href="./img/svg/svg-sprite.svg#person-key"></use></svg>
        вход
      </button>

      <button class="btn --white --icon">
        <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
        <span class="btn__counter">18</span>
      </button>

      <div class="header__langs">
        <span class="modal-list">
          <span class="modal-list__selected">РУС</span>
          <span class="modal-list__modal">
            <span class="modal-list__modal-item --active">
              <span class="modal-list__phone">РУС</span>
            </span>
            <span class="modal-list__modal-item">
              <span class="modal-list__phone">УКР</span>
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
</header>
