<div class="product-table --in-model">
  <div class="product-table__header">
    <div class="product-table__header-col --article">Артикул</div>
    <div class="product-table__header-col --size">Типоразмер</div>
    <div class="product-table__header-col --indices">Индексы/евроэтикетка</div>
    <div class="product-table__header-col --country">Страна</div>
    <div class="product-table__header-col --year">Год</div>
    <div class="product-table__header-col --amount">Кол-во</div>
    <div class="product-table__header-col --price">Цена</div>
  </div>
  <div class="product-table__body">
    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col  --size">165/55 R16</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="type-icons">
          <span class="type-icons__item">
            <img src="./img/icons/icon-1.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-2.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-3.png" alt="">
            72b
          </span>
        </span>
      </div>
      <div class="product-table__col --country">Япония</div>
      <div class="product-table__col --year">2020</div>
      <div class="product-table__col --amount">4 шт.</div>
      <div class="product-table__col --price">
        <div class="product-table__col-price">3 753<span>₴/шт.</span></div>
        <button class="btn --red --middle">В КОРЗИНУ</button>
      </div>
    </div>
    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col  --size">165/55 R16</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="type-icons">
          <span class="type-icons__item">
            <img src="./img/icons/icon-1.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-2.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-3.png" alt="">
            72b
          </span>
        </span>
      </div>
      <div class="product-table__col --country">Япония</div>
      <div class="product-table__col --year">2020</div>
      <div class="product-table__col --amount">4 шт.</div>
      <div class="product-table__col --price">
        <div class="product-table__col-price">3 753<span>₴/шт.</span></div>
        <button class="btn --red --middle">В КОРЗИНУ</button>
      </div>
    </div>
    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col  --size">165/55 R16</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="type-icons">
          <span class="type-icons__item">
            <img src="./img/icons/icon-1.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-2.png" alt="">
            c
          </span>
          <span class="type-icons__item">
            <img src="./img/icons/icon-3.png" alt="">
            72b
          </span>
        </span>
      </div>
      <div class="product-table__col --country">Япония</div>
      <div class="product-table__col --year">2020</div>
      <div class="product-table__col --amount">4 шт.</div>
      <div class="product-table__col --price">
        <div class="product-table__col-price">3 753<span>₴/шт.</span></div>
        <button class="btn --red --middle">В КОРЗИНУ</button>
      </div>
    </div>
  </div>
</div>
