<div class="type-card --model">
  <a href="#" class="type-card__img" style="background-image: url(./img/common/type-small.png)">
    <span class="type-card__labels">
      <span class="type-card__labels-left">
        <span class="type-card__brand">
          <img src="./img/common/card-brand-1.png" alt="">
        </span>
        <span class="type-card__type-label --sun"></span>
      </span>
    </span>
  </a>
  <div class="type-card__main">
    <div class="type-card__main-sect">
      <div class="type-card__main-sect-top">
        <a href="#" class="type-card__title">Bridgestone Potenza Adrenalin RE003</a>
      </div>
    </div>
    <div class="type-card__main-controls">
      <div class="type-card__main-controls-block">
        <span class="type-card__price-tip">Цена от:</span>
        <div class="type-card__price">3 753<span>₴/шт.</span></div>
      </div>
      <div class="type-card__main-controls-block">
        <a href="#" class="btn --red">Подробнее</a>
      </div>
    </div>
  </div>
</div>
