<div class="mob-menu">
  <div class="mob-menu__header">
    <span class="mob-menu__lang-btn --active">укр</span>
    <span class="mob-menu__lang-btn">рус</span>
  </div>
  <div class="mob-menu__btns">
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg stroke="black" viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#type"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Шины</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg stroke="none" viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#disc"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Диски</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#location"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Шинные центры</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#service"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Запись&nbsp;на&nbsp;сервис/ шинные&nbsp;центры</span>
    </a>
    <span class="mob-menu__btn js-show-help-links">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#question"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Помощи и советы</span>
    </span>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#truck"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Грузовой сервис</span>
    </a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Оплата и доставка</a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Гарантия</a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Акции</a>
  </div>
</div>

<div class="modal --style-1" id="login-form">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Вход в личный кабинет</div>
    <form class="auth-form">
      <div class="field">
        <label class="field__label">Имя</label>
        <input class="field__input" placeholder="Введите ваше имя" type="text">
      </div>
      <div class="field">
        <label class="field__label">Пароль</label>
        <a class="field__link" href="#">Забыли пароль?</a>
        <input class="field__input" placeholder="Пароль" type="password">
        <i class="field__eye js-toggle-pass"></i>
      </div>
      <div class="auth-form__footer">
        <button class="btn --red --middle" type="submit">вход</button>
        <a class="auth-form__footer-link" href="#">регистрация</a>
      </div>
    </form>
  </div>
</div>

<div class="modal --style-3" id="order-call">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Заявка на обратный звонок</div>
    <div class="modal__text">Для того что бы оставить заявку на обратный звонок, пожалуйста, заполните форму ниже :
    </div>
    <form class="form-sect">
      <div class="form-sect__col-6">
        <div class="field">
          <label class="field__label">Ваше имя</label>
          <input class="field__input" placeholder="Введите ваше имя" type="text">
        </div>
      </div>
      <div class="form-sect__col-6">
        <div class="field">
          <label class="field__label">Ваш номер телефона</label>
          <input class="field__input" placeholder="+380 (__) ___  __ __" type="tel">
        </div>
      </div>
      <div class="form-sect__col-1">
        <div class="field">
          <label class="field__label">Выберите тему звонка</label>
          <select class="js-sumo-select">
            <option disabled selected value="">Выберите</option>
            <option value="Тема звонка 1">Тема звонка 1</option>
            <option value="Тема звонка 2">Тема звонка 2</option>
            <option value="Тема звонка 3">Тема звонка 3</option>
            <option value="Тема звонка 4">Тема звонка 4</option>
          </select>
        </div>
      </div>
      <div class="form-sect__col-1">
        <div class="field">
          <label class="field__label">Комментарий</label>
          <textarea class="field__textarea" placeholder="Введите комментарий"></textarea>
        </div>
      </div>

      <div class="modal__btn">
        <button class="btn --red --wide --disabled">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="modal --style-1" id="order-call-success">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Заявка на обратный звонок</div>
    <div class="modal__icon-text">
      <div class="modal__icon-text-icon"></div>
      <div class="modal__icon-text-text">Ваша заявка принята. В ближайшее время мы Вам перезвоним!</div>
    </div>
  </div>
</div>

<div class="modal --style-4" id="all-brands">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Наши бренды</div>
    <div class="brands-tabs js-tabs">
      <div class="brands-tabs__controls">
        <span class="brands-tabs__controls-btn" data-tab="tab-premium">Премиум <span>сегмент</span></span>
        <span class="brands-tabs__controls-btn  --active" data-tab="tab-standard">Эконом <span>сегмент</span></span>
        <span class="brands-tabs__controls-btn" data-tab="tab-comfort">Комфорт <span>сегмент</span></span>
      </div>
      <div class="brands-tabs__content">
        <div class="brands-tabs__content-item" data-tab-content="tab-comfort">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
        </div>
        <div class="brands-tabs__content-item  --active" data-tab-content="tab-premium">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-3.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-4.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-5.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-6.png">
          </span>
        </div>
        <div class="brands-tabs__content-item" data-tab-content="tab-standard">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-3.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-4.png">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal --style-2" id="tire-filter">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="filter-container js-filter-container">
      <div class="filter-container__title" id="j-filter-container--title">
        Подбор шин
        <span class="js-header-params">по параметрам</span>
        <span class="js-header-auto is-hidden">по автомобилю</span>
      </div>

      <div class="filter-container__header-cta">
        <button class="btn --red-transparent --full-width js-header-cta --middle">
          <span class="header-cta--auto">Подобрать по автомобилю</span>
          <span class="header-cta--params">Подобрать по параметрам</span>
        </button>
      </div>

      <div class="filter-container__drop-filters">
        <span class="js-reset-filter">Сбросить фильтры</span>
      </div>

      <div class="filter-container__body-params js-filter-by-params">
        <div class="main-size">
          <div class="fillter-wrapper">
            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper js-init-custom-select">
                <select groups="false" name="width" required="">
                  <option hidden=""></option>
                  <option value="123">135</option>
                  <option value="456">145</option>
                  <option disabled="" value="654">155</option>
                  <option value="789">165</option>
                  <option value="987">175</option>
                  <option value="1123">135</option>
                  <option value="1456">145</option>
                  <option disabled="" value="1654">155</option>
                  <option value="1789">165</option>
                  <option value="1987">175</option>
                  <option value="2123">135</option>
                  <option value="2456">145</option>
                  <option disabled="" value="2654">155</option>
                  <option value="2789">165</option>
                  <option value="2987">175</option>
                </select>
                <label class="fillter-title">Ширина</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите ширину</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input"
                               placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div
                            class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper custom-select-wrapper__height js-init-custom-select">
                <select groups="false" name="height" required="">
                  <option hidden=""></option>
                  <option value="456">полнопрофильная</option>
                  <option value="456">12</option>
                  <option disabled="" value="654">23</option>
                  <option value="789">34</option>
                  <option value="987">45</option>
                  <option value="4562">56</option>
                  <option disabled="" value="6543">67</option>
                  <option value="7894">78</option>
                  <option value="9875">89</option>
                  <option value="456">45</option>
                  <option disabled="" value="654">33</option>
                  <option value="789">34</option>
                  <option value="987">45</option>
                  <option value="4562">56</option>
                  <option disabled="" value="6543">67</option>
                  <option value="7894">78</option>
                  <option value="9875">89</option>
                </select>
                <label class="fillter-title">Высота</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите высоту</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input"
                               placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div
                            class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="fillter-wrapper__cols --col-3">
              <div class="custom-select-wrapper js-init-custom-select">
                <select groups="false" name="diameter" required="">
                  <option hidden=""></option>
                  <option value="123">d123</option>
                  <option value="456">d234</option>
                  <option disabled="" value="654">d343100</option>
                  <option value="789">d3436575</option>
                  <option value="987">d34333</option>
                </select>
                <label class="fillter-title">Диаметр</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите диаметр</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input"
                               placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="main-params">
          <div class="season-wrapper">
            <div class="fillter-title">Сезонность</div>
            <div class="checkbox-wrapper">
              <label class="container container--season">
                <input type="checkbox" value="">
                <span class="checkmark"></span>
                <img alt="big-sun" src="./img/svg/sun.svg">
              </label>
              <label class="container container--season">
                <input type="checkbox" value="">
                <span class="checkmark container--season"></span>
                <img alt="snowflakes" src="./img/svg/snowflake.svg">
              </label>
              <label class="container container--season">
                <input type="checkbox" value="">
                <span class="checkmark"></span>
                <img alt="vsesezon" src="./img/svg/vsesezon.svg">
              </label>
            </div>
          </div>

          <div class="brand-wrapper">
            <div class="fillter-wrapper__cols --col-1">
              <div class="custom-select-wrapper custom-select-wrapper__brand js-init-custom-select">
                <select groups="true" multiple="" name="brand" required="">
                  <option hidden=""></option>
                  <option group="premium" value="123">Bridgesbritone p (20)</option>
                  <option group="premium" value="234">Continental p (16)</option>
                  <option group="premium" value="345">Dunlop p (8)</option>
                  <option group="premium" value="456">Goodyear p (18)</option>
                  <option group="premium" value="567">Michelin p (0)</option>
                  <option group="premium" value="678">Nokian p (8)</option>
                  <option group="comfort" value="1123213">Bridgesbritone c (20)</option>
                  <option group="comfort" value="1234">Continental c (16)</option>
                  <option group="comfort" value="1345">Dunlop c (8)</option>
                  <option group="comfort" value="1456">Goodyear c (18)</option>
                  <option disabled="" group="comfort" value="1567">Michelin c (0)</option>
                  <option group="comfort" value="1678">Nokian c (8)</option>
                  <option group="standart" value="2123">Bridgesbritone s (20)</option>
                  <option group="standart" value="2234">Continental s (16)</option>
                  <option group="standart" value="2345">Dunlop s (8)</option>
                  <option group="standart" value="2456">Goodyear s (18)</option>
                  <option disabled="" group="standart" value="2567">Michelin s (0)</option>
                  <option group="standart" value="2678">Nokian s (8)</option>
                  <option group="premium" value="3123">Bridgesbritone p (20)</option>
                  <option group="premium" value="3234">Continental p (16)</option>
                  <option group="premium" value="3345">Dunlop p (8)</option>
                  <option group="premium" value="3456">Goodyear p (18)</option>
                  <option group="premium" value="3567">Michelin p (0)</option>
                  <option group="premium" value="3678">Nokian p (8)</option>
                  <option group="comfort" value="1123">Bridgesbritone c (20)</option>
                  <option group="comfort" value="31234">Continental c (16)</option>
                  <option group="comfort" value="31345">Dunlop c (8)</option>
                  <option group="comfort" value="31456">Goodyear c (18)</option>
                  <option disabled="" group="comfort" value="31567">Michelin c (0)</option>
                  <option group="comfort" value="31678">Nokian c (8)</option>
                  <option group="standart" value="32123">Bridgesbritone s (20)</option>
                  <option group="standart" value="32234">Continental s (16)</option>
                  <option group="standart" value="32345">Dunlop s (8)</option>
                  <option group="standart" value="32456">Goodyear s (18)</option>
                  <option disabled="" group="standart" value="32567">Michelin s (0)</option>
                  <option group="standart" value="122678">Nokian s (8)</option>
                </select>
                <label class="fillter-title">Бренд</label>
                <div class="select-overlay js-select-overlay">
                  <div class="select-button">
                    <span class="select-button--arrow"></span>
                    <span class="select-button--result js-select-button-result">Выбрать</span>
                    <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                  </div>
                  <div class="select-popup">
                    <div class="select-popup-overlay"></div>
                    <div class="select-dropdown__mobile-center">
                      <div class="select-dropdown js-select-dropdown select-dropdown__checkbox">
                        <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                        <div class="select-label-mobile">выберите бренд</div>
                        <input class="select-button--search select-button--search-mobile js-search-button-input"
                               placeholder=" Поиск..." type="search">
                        <div class="select-dropdown--content">
                          <div class="select-dropdown--search-label">Найдено:</div>
                          <div
                            class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                          <div class="select-dropdown--items select-dropdown--items__groups js-dropdown-groups">
                            <div class="select-dropdown__group js-select-group" data-group-id="premium">ПРЕМИУМ
                              СЕГМЕНТ
                            </div>
                            <div class="select-dropdown__group js-select-group" data-group-id="comfort">КОМФОРТ
                              СЕГМЕНТ
                            </div>
                            <div class="select-dropdown__group js-select-group" data-group-id="standart">СТАНДАРТ
                              СЕГМЕНТ
                            </div>
                          </div>
                          <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all">
                            <div class="select-dropdown__group-items js-select-group-cont" data-group-id="premium"
                                 data-group-label="ПРЕМИУМ СЕГМЕНТ"></div>
                            <div class="select-dropdown__group-items js-select-group-cont" data-group-id="comfort"
                                 data-group-label="КОМФОРТ СЕГМЕНТ"></div>
                            <div class="select-dropdown__group-items js-select-group-cont"
                                 data-group-id="standart" data-group-label="СТАНДАРТ СЕГМЕНТ"></div>
                          </div>
                        </div>
                        <div class="select-dropdown--footer">
                          <button class="btn --red --middle select-multiple-button --disabled">Выбрать</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-container__body--cta">
            <button class="btn --red --middle --full-width --disabled js-get-result">Подобрать шины</button>
          </div>
        </div>

        <div class="additional-params">
          <div class="additional-params__wrapper js-additional-params is-hidden">

            <div class="slider-wrapper">
              <label class="price-input-wrapper">
                <span class="fillter-title">Цена от:</span>
                <input class="input-price-slider-low input-price-slider js-input-price-slider-low-params" min="200" type="text">
              </label>
              <div class="price-slider js-price-slider-params"></div>
              <label class="price-input-wrapper">
                <span class="fillter-title">Цена до:</span>
                <input class="input-price-slider-high input-price-slider js-input-price-slider-high-params" max="30000" type="text">
              </label>
            </div>

            <div class="spike-wrapper">
              <div class="fillter-title">Тип ошиповки</div>
              <div class="checkbox-wrapper">
                <label class="container">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
                  Шип
                </label>
                <label class="container">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
                  Под&nbsp;шип
                </label>
                <label class="container">
                  <input type="checkbox" value="">
                  <span class="checkmark"></span>
                  Не&nbsp;шип
                </label>
              </div>
            </div>

            <div class="index-fillter-wrapper">
              <div class="fillter-wrapper__cols --col-2">
                <div class="custom-select-wrapper custom-select-wrapper__speed js-init-custom-select">
                  <select groups="false" multiple="" name="speed" required="">
                    <option hidden=""></option>
                    <option value="123">J (100 км/ч)</option>
                    <option value="234">K (110 км/ч)</option>
                    <option value="345123123">L (120 км/ч)</option>
                    <option value="4563123">N (140 км/ч)</option>
                    <option disabled="" value="56731">P (150 км/ч)</option>
                    <option value="671238">Q (160 км/ч)</option>
                    <option value="671239">S (180 км/ч)</option>
                    <option value="681230">T (190 км/ч)</option>
                    <option value="68123211">U (200 км/ч)</option>
                    <option value="681232">V (210 км/ч)</option>
                    <option value="123683">VR (110 км/ч)</option>
                    <option value="3452121">L (120 км/ч)</option>
                    <option value="456">N (140 км/ч)</option>
                    <option disabled="" value="1567">P (150 км/ч)</option>
                    <option value="1678">Q (160 км/ч)</option>
                    <option value="1679">S (180 км/ч)</option>
                    <option value="1680">T (190 км/ч)</option>
                    <option value="1681">U (200 км/ч)</option>
                  </select>
                  <label class="fillter-title">Индекс скорости</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown select-dropdown__checkbox">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите индекс скорости</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input"
                                 placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div
                              class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                          <div class="select-dropdown--footer">
                            <button class="btn --red --middle select-multiple-button --disabled">Выбрать</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-2">
                <div class="custom-select-wrapper custom-select-wrapper__load js-init-custom-select">
                  <select groups="false" multiple="" name="load" required="">
                    <option hidden=""></option>
                    <option value="123">106 (265кг)</option>
                    <option value="234">106 (265кг)</option>
                    <option value="345123123">106 (265кг)</option>
                    <option value="4563123">106 (265кг)</option>
                    <option disabled="" value="56731">106 (265кг)</option>
                    <option value="671238">106 (265кг)</option>
                    <option value="671239">106 (265кг)</option>
                    <option value="681230">106 (265кг)</option>
                    <option value="68123211">106 (265кг)</option>
                    <option value="681232">106 (265кг)</option>
                    <option value="123683">106 (265кг)</option>
                    <option value="3452121">106 (265кг)</option>
                    <option value="456">106 (265кг)</option>
                    <option disabled="" value="1567">106 (265кг)</option>
                    <option value="1678">106 (265кг)</option>
                    <option value="1679">106 (265кг)</option>
                    <option value="1680">106 (265кг)</option>
                    <option value="1681">106 (265кг)</option>
                  </select>
                  <label class="fillter-title">Индекс нагрузки</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown select-dropdown__checkbox">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите индекс нагрузки</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input"
                                 placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div
                              class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                          <div class="select-dropdown--footer">
                            <button class="btn --red --middle select-multiple-button --disabled">Выбрать</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="spike-wrapper spike-wrapper--gain-type">
              <div class="fillter-title">Тип усиления</div>
              <div class="checkbox-wrapper">

                  <label class="container">
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                    <span>RFT</span>
                  </label>

                  <label class="container">
                    <input type="checkbox" value="">
                    <span class="checkmark"></span>
                    <span>XL</span>
                  </label>

              </div>
            </div>
          </div>

          <button class="toggle-btn js-toggle-params-filter">
            <span class="add-button">дополнительные параметры</span>
            <span class="remove-button additional-params-margin-top">скрыть ДОПОЛНИТЕЛЬНЫЕ ПАРАМЕТРЫ</span>
          </button>
        </div>
      </div>

      <!-- Подбор шин по автомобилю -->
      <div class="filter-container__body-auto is-hidden js-filter-by-auto">
        <div class="fc-selectors fc-selectors--auto">
          <div class="auto-size">
            <div class="fillter-wrapper">
              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-brand js-init-custom-select">
                  <select groups="false" name="auto-brand" required="">
                    <option hidden=""></option>
                    <option value="123">Alfa Romeo</option>
                    <option value="456">Acura</option>
                    <option disabled="" value="654">Aston Martin</option>
                    <option value="789">Audi</option>
                    <option value="7892">Bullet</option>
                    <option value="789222">Cheetah</option>
                    <option value="789222">Dacia</option>
                    <option value="789222">Emgrand</option>
                    <option value="789222">Finch</option>
                    <option value="78922212">Ford</option>
                    <option value="789222">Gatsby</option>
                    <option value="789222">Hanomag</option>
                    <option value="789222">Isotta-Fraschini</option>
                    <option value="789222">Jaguar</option>
                    <option value="789222">Karmann</option>
                    <option value="789222">Lancia</option>
                    <option value="789222">Marcopolo</option>
                    <option value="789222">National</option>
                    <option value="789222">Oakland</option>
                    <option value="789222">Pagani</option>
                    <option value="789222">Qvale</option>
                    <option value="7892224324">Rambler</option>
                    <option value="78922232323">SAIC</option>
                    <option value="78922232323">Tronatic</option>
                    <option value="78922232323">Unicat</option>
                    <option value="78922232323">Vauxhall</option>
                    <option value="78922232323">Wuzhoulong</option>
                    <option value="78922232323">Xin Kai</option>
                    <option value="78922232323">Yulon</option>
                    <option value="78922232323">Zedriv</option>
                    <option value="78922232323">Богдан</option>
                    <option value="78922232323">ВМЗ</option>
                    <option value="78922232323">ГАЗ</option>
                    <option value="78922232323">ЗИЛ</option>
                    <option value="78922232323">КамАЗ</option>
                    <option value="78922232323">Москвич</option>
                    <option value="78922232323">УАЗ</option>
                  </select>
                  <label class="fillter-title">Марка</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите марку</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <span class="select-dropdown__clear-search js-clear-search">&times;</span>
                          <div class="select-keyboard js-select-keyboard" data-is-keyboard="true"></div>
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-model js-init-custom-select">
                  <select groups="false" name="auto-model" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Модель</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите модель</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input"
                                 placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-year js-init-custom-select">
                  <select groups="false" name="auto-year" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Год</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите год</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="fillter-wrapper__cols --col-4">
                <div class="custom-select-wrapper custom-select-wrapper__auto-set custom-select-wrapper__auto-mod js-init-custom-select">
                  <select groups="false" name="auto-mod" required="">
                    <option hidden=""></option>
                    <option value="123">135</option>
                    <option value="456">145</option>
                    <option disabled="" value="654">155</option>
                    <option value="789">165</option>
                    <option value="987">175</option>
                    <option value="9872">1753</option>
                  </select>
                  <label class="fillter-title">Модификация</label>
                  <div class="select-overlay js-select-overlay">
                    <div class="select-button">
                      <span class="select-button--arrow"></span>
                      <span class="select-button--result js-select-button-result">Выбрать</span>
                      <input class="select-button--search js-search-button-input" placeholder=" Поиск..." type="search">
                    </div>
                    <div class="select-popup">
                      <div class="select-popup-overlay"></div>
                      <div class="select-dropdown__mobile-center">
                        <div class="select-dropdown js-select-dropdown">
                          <div class="select-close-button-mobile js-close-button-mobile">&times;</div>
                          <div class="select-label-mobile">выберите модификацию</div>
                          <input class="select-button--search select-button--search-mobile js-search-button-input" placeholder=" Поиск..." type="search">
                          <div class="select-dropdown--content">
                            <div class="select-dropdown--search-label">Найдено:</div>
                            <div class="select-dropdown--items select-dropdown--items__search-result js-dropdown-search"></div>
                            <div class="select-dropdown--items select-dropdown--items__all js-dropdown-all"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="filter-container__body--cta">
          <button class="btn --red --middle --full-width --disabled js-get-result">Подобрать шины</button>
        </div>
      </div>

      <div class="filter-container__body--cta--mob">
        <button class="btn --red --full-width --disabled js-get-result">Подобрать шины</button>
      </div>
    </div>
  </div>
</div>
