<div class="mob-menu">
  <div class="mob-menu__header">
    <span class="mob-menu__lang-btn --active">укр</span>
    <span class="mob-menu__lang-btn">рус</span>
  </div>
  <div class="mob-menu__btns">
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg stroke="black" viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#type"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Шины</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg stroke="none" viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#disc"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Диски</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#location"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Шинные центры</span>
    </a>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#service"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Запись&nbsp;на&nbsp;сервис/ шинные&nbsp;центры</span>
    </a>
    <span class="mob-menu__btn js-show-help-links">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#question"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Помощи и советы</span>
    </span>
    <a class="mob-menu__btn" href="#">
      <span class="mob-menu__btn-icon">
        <svg viewBox="0 0 28 28" width="28"><use xlink:href="./img/svg/svg-sprite.svg#truck"></use></svg>
      </span>
      <span class="mob-menu__btn-text">Грузовой сервис</span>
    </a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Оплата и доставка</a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Гарантия</a>
  </div>
  <div class="mob-menu__link">
    <a href="#">Акции</a>
  </div>
</div>

<div class="modal --style-1" id="login-form">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Вход в личный кабинет</div>
    <form class="auth-form">
      <div class="field">
        <label class="field__label">Имя</label>
        <input class="field__input" placeholder="Введите ваше имя" type="text">
      </div>
      <div class="field">
        <label class="field__label">Пароль</label>
        <a class="field__link" href="#">Забыли пароль?</a>
        <input class="field__input" placeholder="Пароль" type="password">
        <i class="field__eye js-toggle-pass"></i>
      </div>
      <div class="auth-form__footer">
        <button class="btn --red --middle" type="submit">вход</button>
        <a class="auth-form__footer-link" href="#">регистрация</a>
      </div>
    </form>
  </div>
</div>

<div class="modal --style-3" id="order-call">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Заявка на обратный звонок</div>
    <div class="modal__text">Для того что бы оставить заявку на обратный звонок, пожалуйста, заполните форму ниже :
    </div>
    <form class="form-sect">
      <div class="form-sect__col-6">
        <div class="field">
          <label class="field__label">Ваше имя</label>
          <input class="field__input" placeholder="Введите ваше имя" type="text">
        </div>
      </div>
      <div class="form-sect__col-6">
        <div class="field">
          <label class="field__label">Ваш номер телефона</label>
          <input class="field__input" placeholder="+380 (__) ___  __ __" type="tel">
        </div>
      </div>
      <div class="form-sect__col-1">
        <div class="field">
          <label class="field__label">Выберите тему звонка</label>
          <select class="js-sumo-select">
            <option disabled selected value="">Выберите</option>
            <option value="Тема звонка 1">Тема звонка 1</option>
            <option value="Тема звонка 2">Тема звонка 2</option>
            <option value="Тема звонка 3">Тема звонка 3</option>
            <option value="Тема звонка 4">Тема звонка 4</option>
          </select>
        </div>
      </div>
      <div class="form-sect__col-1">
        <div class="field">
          <label class="field__label">Комментарий</label>
          <textarea class="field__textarea" placeholder="Введите комментарий"></textarea>
        </div>
      </div>

      <div class="modal__btn">
        <button class="btn --red --wide --disabled">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="modal --style-1" id="order-call-success">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Заявка на обратный звонок</div>
    <div class="modal__icon-text">
      <div class="modal__icon-text-icon"></div>
      <div class="modal__icon-text-text">Ваша заявка принята. В ближайшее время мы Вам перезвоним!</div>
    </div>
  </div>
</div>

<div class="modal --style-4" id="all-brands">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Наши бренды</div>
    <div class="brands-tabs js-tabs">
      <div class="brands-tabs__controls">
        <span class="brands-tabs__controls-btn" data-tab="tab-premium">Премиум <span>сегмент</span></span>
        <span class="brands-tabs__controls-btn  --active" data-tab="tab-standard">Эконом <span>сегмент</span></span>
        <span class="brands-tabs__controls-btn" data-tab="tab-comfort">Комфорт <span>сегмент</span></span>
      </div>
      <div class="brands-tabs__content">
        <div class="brands-tabs__content-item" data-tab-content="tab-comfort">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
        </div>
        <div class="brands-tabs__content-item  --active" data-tab-content="tab-premium">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-3.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-4.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-5.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-6.png">
          </span>
        </div>
        <div class="brands-tabs__content-item" data-tab-content="tab-standard">
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-1.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-2.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-3.png">
          </span>
          <span class="brands-tabs__content-elem">
            <img alt="" src="./img/common/brand-4.png">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal --style-1" id="sort-modal">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Сортировать</div>
    <div class="field">
      <select class="js-sumo-select">
        <option value="По популярности">По популярности</option>
        <option value="По популярности 2">По популярности 2</option>
        <option value="По популярности 3">По популярности 3</option>
        <option value="По популярности 4">По популярности 4</option>
      </select>
    </div>
  </div>
</div>

<div class="modal --style-1" id="tire-storage">
  <div class="modal__hider js-close-modal"></div>
  <div class="modal__content">
    <span class="modal__close js-close-modal">&times;</span>
    <div class="modal__title">Храните ли вы у нас шины?</div>
    <div class="modal__text">
      <button class="btn --red-transparent --full-width js-tire-storage js-close-modal" data-storage="1">да, есть договор хранения</button>
    </div>
    <div class="modal__text">
      <button class="btn --red-transparent --full-width js-tire-storage js-close-modal" data-storage="0">Нет, привезу с собой</button>
    </div>
    <div class="modal__text">Если Вы храните у нас шины, то доставка Ваших шин со склада займёт до 3-х рабочих дней</div>
  </div>
</div>
