<div class="product-table">
  <div class="product-table__header">
    <div class="product-table__header-col --article">Ар&shy;тикул</div>
    <div class="product-table__header-col --country">Страна/год</div>
    <div class="product-table__header-col --spikes">Шиповка/усиление</div>
    <div class="product-table__header-col --indices">Индексы</div>
  </div>
  <div class="product-table__body">
    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col --country">Япония/2020</div>
      <div class="product-table__col --spikes">Под шип/RFT</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="block-mob">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </span>
      </div>
      <div class="product-table__order">
        <div class="product-table__order-stickers">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </div>
        <div class="product-table__order-price-wrap">
          <div class="product-table__order-price --old">3 900 <span>₴/шт.</span></div>
          <div class="product-table__order-price-main">
            <div class="product-table__order-price">3 753<span>₴/шт.</span></div>
            <div class="product-table__order-profit">Вернем: <span>35 ₴</span></div>
          </div>
        </div>
        <div class="product-table__order-btn-sect">
          <div class="product-table__order-btn-amount">Доступно: <b>20</b> шт.</div>
          <button class="product-table__order-btn">
            <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
          </button>
        </div>
      </div>
    </div>

    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col --country">Япония/2020</div>
      <div class="product-table__col --spikes">Под шип/RFT</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="block-mob">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </span>
      </div>
      <div class="product-table__order">
        <div class="product-table__order-stickers">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </div>
        <div class="product-table__order-price-wrap">
          <div class="product-table__order-price --old">3 900 <span>₴/шт.</span></div>
          <div class="product-table__order-price-main">
            <div class="product-table__order-price">3 753<span>₴/шт.</span></div>
            <div class="product-table__order-profit">Вернем: <span>35 ₴</span></div>
          </div>
        </div>
        <div class="product-table__order-btn-sect">
          <div class="product-table__order-btn-amount">Доступно: <b>20</b> шт.</div>
          <button class="product-table__order-btn">
            <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
          </button>
        </div>
      </div>
    </div>

    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col --country">Япония/2020</div>
      <div class="product-table__col --spikes">Под шип/RFT</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="block-mob">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </span>
      </div>
      <div class="product-table__order">
        <div class="product-table__order-stickers">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </div>
        <div class="product-table__order-price-wrap">
          <div class="product-table__order-price --old">3 900 <span>₴/шт.</span></div>
          <div class="product-table__order-price-main">
            <div class="product-table__order-price">3 753<span>₴/шт.</span></div>
            <div class="product-table__order-profit">Вернем: <span>35 ₴</span></div>
          </div>
        </div>
        <div class="product-table__order-btn-sect">
          <div class="product-table__order-btn-amount">Доступно: <b>20</b> шт.</div>
          <button class="product-table__order-btn">
            <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
          </button>
        </div>
      </div>
    </div>

    <div class="product-table__row">
      <div class="product-table__col --article">25698</div>
      <div class="product-table__col --country">Япония/2020</div>
      <div class="product-table__col --spikes">Под шип/RFT</div>
      <div class="product-table__col --indices">
        <span class="type-icon">V <i>(80 км/ч)</i></span>
        <span class="type-icon">82 <i>(475 кг)</i></span>
        <span class="block-mob">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </span>
      </div>
      <div class="product-table__order">
        <div class="product-table__order-stickers">
          <span class="type-icons">
            <span class="type-icons__item">
              <img src="./img/icons/icon-1.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-2.png" alt="">
              c
            </span>
            <span class="type-icons__item">
              <img src="./img/icons/icon-3.png" alt="">
              72b
            </span>
          </span>
        </div>
        <div class="product-table__order-price-wrap">
          <div class="product-table__order-price --old">3 900 <span>₴/шт.</span></div>
          <div class="product-table__order-price-main">
            <div class="product-table__order-price">3 753<span>₴/шт.</span></div>
            <div class="product-table__order-profit">Вернем: <span>35 ₴</span></div>
          </div>
        </div>
        <div class="product-table__order-btn-sect">
          <div class="product-table__order-btn-amount">Доступно: <b>20</b> шт.</div>
          <button class="product-table__order-btn">
            <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
