<div class="specification">
  <div class="specification__title">Cпецификация</div>
  <div class="specification__content">
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-6.png" alt="">
      </div>
      <div class="specification__text">Четкость следования курсу</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-7.png" alt="">
      </div>
      <div class="specification__text">Отличная стойкость к повреждениям</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-8.png" alt="">
      </div>
      <div class="specification__text">Короткий тормозной путь на влажном асфальте</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-9.png" alt="">
      </div>
      <div class="specification__text">Высокий уровень комфорта</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-10.png" alt="">
      </div>
      <div class="specification__text">Короткий тормозной путь на сухом асфальте</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-11.png" alt="">
      </div>
      <div class="specification__text">Хорошее соотношение цена/характеристики</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-12.png" alt="">
      </div>
      <div class="specification__text">Хорошая управляемость на мокром асфальте</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-13.png" alt="">
      </div>
      <div class="specification__text">Высокая износостойкость</div>
    </div>
    <div class="specification__item">
      <div class="specification__icon">
        <img src="./img/common/pic-14.png" alt="">
      </div>
      <div class="specification__text">Хорошая управляемость на сухом асфальте</div>
    </div>
  </div>
  <div class="specification__btn">
    <a href="#" class="btn --red-transparent --wide">детальное описание</a>
  </div>
</div>
