<div class="tire-center-card-small" data-center="Шинный центр «Твоя шина» - г. Днепр, пер. Добровольцев (ж/м Победа, 6)">
  <div class="tire-center-card-small__img">
    <img src="./img/common/center.png" alt="">
  </div>
  <div class="tire-center-card-small__address">ж/м Победа-6, пер. Добровольцев, 1д</div>
  <button class="tire-center-card-small__btn btn --red-transparent --middle js-check-tire-center"></button>
  <div class="tire-center-card-small__info-wrap">
    <div class="tire-center-card-small__info">
      <div class="tire-center-card-small__info-label">Время работы:</div>
      <div class="tire-center-card-small__info-value">Пн. - Вс., 8:00 - 20:00.  Без перерыва</div>
    </div>
    <div class="tire-center-card-small__info">
      <div class="tire-center-card-small__info-label">Телефон:</div>
      <a href="tel:0671303603" class="tire-center-card-small__info-value">(067) 130-36-03</a>
    </div>
    <div class="tire-center-card-small__info">
      <div class="tire-center-card-small__info-label">Автомойка RiM Detailing Car Wash:</div>
      <a href="tel:0671303603" class="tire-center-card-small__info-value">(067) 130-36-03</a>
    </div>
  </div>
  <div class="tire-center-card-small__mob">
    <div class="tire-center-card-small__mob-date-sect">
      <div class="tire-center-card-small__mob-label">Ближайшая дата записи:</div>
      <div class="tire-center-card-small__mob-date-block">
        <span class="tire-center-card-small__mob-date">12.01.2020</span>
        <button class="btn --red-transparent js-show-datepicker-modal">изменить дату</button>
      </div>
    </div>
    <div class="tire-center-card-small__mob-time-sect">
      <div class="tire-center-card-small__mob-label">Ближайшее время записи:</div>
      <div class="tire-center-card-small__mob-time-block">
        <span class="tire-center-card-small__mob-time">08:20</span>
        <span class="tire-center-card-small__mob-time">08:20</span>
        <span class="tire-center-card-small__mob-time">08:20</span>
        <span class="tire-center-card-small__mob-time">08:20</span>
      </div>
      <div class="tire-center-card-small__mob-time-btn">
        <button class="btn --red-transparent js-show-timepicker-modal">выбрать другое время</button>
      </div>
    </div>
    <div class="tire-center-card-small__mob-btn">
      <button class="btn --red --disabled js-select-center">выбрать</button>
    </div>
  </div>
</div>
