<div class="tire-center-card">
  <a href="/center-page.html" class="tire-center-card__img">
    <img src="./img/common/center.png" alt="">
  </a>
  <div class="tire-center-card__content">
    <div class="tire-center-card__info">
      <div class="tire-center-card__name">Шинный центр «Твоя Шина» -</div>
      <div class="tire-center-card__address">г. Днепр, Донецкое шоссе, 69</div>
    </div>
    <span class="tire-center-card__schedule">
      <span class="tire-center-card__schedule-label">Время работы:</span>
      Пн. - Вс., <strong>8<sup>00</sup> - 2<sup>00</sup></strong> Без перерыва
    </span>
  </div>
  <div class="tire-center-card__btns">
    <button class="btn --red-transparent --middle">ЗАПИСАТЬСЯ</button>
    <a href="/center-page.html" class="btn --red --full-width --middle">подробнее</a>
  </div>
</div>
