<div class="tire-center-card-small" data-center="Запорожское шоссе, 55к">
  <div class="tire-center-card-small__img">
    <img src="./img/common/center.png" alt="">
  </div>
  <div class="tire-center-card-small__address">ж/м Победа-6, <br>пер. Добровольцев, 1д</div>
  <button class="tire-center-card-small__btn btn --red-transparent --middle js-check-tire-center"></button>
  <div class="tire-center-card-small__info">
    <div class="tire-center-card-small__info-label">Время работы:</div>
    <div class="tire-center-card-small__info-value">Пн. - Вс., 8:00 - 20:00.  Без перерыва</div>
  </div>
  <div class="tire-center-card-small__info">
    <div class="tire-center-card-small__info-label">Телефон:</div>
    <a href="tel:0671303603" class="tire-center-card-small__info-value">(067) 130-36-03</a>
  </div>
  <div class="tire-center-card-small__info">
    <div class="tire-center-card-small__info-label">Автомойка RiM Detailing Car Wash:</div>
    <a href="tel:0671303603" class="tire-center-card-small__info-value">(067) 130-36-03</a>
  </div>
</div>
