<div class="type-card">
  <a href="#" class="type-card__img">
    <span class="type-card__labels">
      <span class="type-card__labels-left">
        <span class="type-card__brand">
          <img src="./img/common/card-brand-1.png" alt="">
        </span>
        <span class="type-card__type-label --sun"></span>
      </span>
    </span>
    <img class="type-card__image" src="/img/common/wheel.png" alt="">
  </a>
  <div class="type-card__main">
    <div class="type-card__main-sect">
      <div class="type-card__main-sect-top">
        <a href="#" class="type-card__title">Bridgestone Potenza Adrenalin RE003</a>
        <div class="type-card__info">
          <div class="type-card__info-type">165/55 R16</div>
          <div class="type-card__info-icons">
            <span class="type-icon">82</span>
            <span class="type-icon">V</span>
            <span class="type-icons">
              <span class="type-icons__item">
                <img src="./img/icons/icon-1.png" alt="">
                c
              </span>
              <span class="type-icons__item">
                <img src="./img/icons/icon-2.png" alt="">
                c
              </span>
              <span class="type-icons__item">
                <img src="./img/icons/icon-3.png" alt="">
                72b
              </span>
            </span>
          </div>

          <div class="type-card__info-modal">
            <div class="type-card__info-modal-title">Евроэтикетка</div>
            <div class="type-card__info-modal-img">
              <img src="./img/common/img-1.png" alt="">
            </div>
            <div class="type-card__info-modal-text">
              <div class="type-card__info-modal-text-label">Индекс скорости T-</div>
              <div class="type-card__info-modal-text-value">максимальная скорость 150 км\ч</div>
            </div>
            <div class="type-card__info-modal-text">
              <div class="type-card__info-modal-text-label">Индекс нагрузки 82-</div>
              <div class="type-card__info-modal-text-value">нагрузка на шину 560 кг</div>
            </div>
          </div>
        </div>
      </div>
      <div class="type-card__main-sect-btm">
        <div class="type-card__main-sect-btm-main">
          <div class="type-card__further-info">
            <div class="type-card__further-info-label">Артикул:</div>
            <div class="type-card__further-info-value">25698</div>
          </div>
          <div class="type-card__further-info">
            <div class="type-card__further-info-label">Страна/Год:</div>
            <div class="type-card__further-info-value">Китай/2019</div>
          </div>
          <div class="type-card__further-info">
            <div class="type-card__further-info-label">Тип усиления:</div>
            <div class="type-card__further-info-value">RFT</div>
          </div>
        </div>
        <div class="type-card__main-sect-btm-further">
          <div class="type-card__further-info">
            <div class="type-card__further-info-label">Индекс скорости</div>
            <div class="type-card__further-info-value">V (80 км/ч)</div>
          </div>
          <div class="type-card__further-info">
            <div class="type-card__further-info-label">Индекс нагрузки:</div>
            <div class="type-card__further-info-value">82 (475 кг)</div>
          </div>
        </div>
      </div>
    </div>
    <div class="type-card__main-controls">
      <div class="type-card__main-controls-block">
        <div class="type-card__price">3 753<span>₴/шт.</span></div>
        <div class="type-card__price --old">3 900 <span>₴/шт.</span></div>
        <div class="type-card__profit">Вернем: <span>35 ₴</span></div>
      </div>
      <div class="type-card__main-controls-block">
        <button class="btn --red">В КОРЗИНУ</button>
        <button class="type-card__quick-order">быстрый заказ</button>
        <button class="type-card__mob-order">
          <svg viewBox="0 0 25 25" width="25"><use xlink:href="./img/svg/svg-sprite.svg#cart"></use></svg>
        </button>
      </div>
    </div>
  </div>
</div>
