<div class="small-type-card">
  <a href="#" class="small-type-card__img" style="background-image: url(./img/common/type-small.png)">
    <span class="small-type-card__labels">
      <span class="small-type-card__label --sun"></span>
    </span>
  </a>
  <div class="small-type-card__main">
    <a href="#" class="small-type-card__title">Bridgestone Potenza Adrenalin RE003</a>
    <div class="small-type-card__info">165/55 R16</div>
    <div class="small-type-card__price">3 753<span>₴/шт.</span></div>
  </div>
</div>
