@import "nib"
@import "vars"
@import "mixins"

.subtitle
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  @media (max-width: max-extra-large)
    font-size: 15px;
  @media (max-width: max-medium)
    font-size: 14px;
    line-height: 130%;

.caption
  font-size: 12.75px;
  line-height: 150%;
  letter-spacing: 0.08em
  @media (max-width: max-extra-large)
    font-size: 12.5px;
    letter-spacing: 0.04em;
    line-height: 135%;
  @media (max-width: max-medium)
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.02em;
  &.\--bold
    font-weight: 600;
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.04em;
    @media (max-width: max-extra-large)
      font-size: 11.54px;
      line-height: 130%;
      letter-spacing: 0.02em;
    @media (max-width: max-medium)
      font-size: 11px;
      line-height: 115%;
      letter-spacing: 0.04em;

.label-1
  font-weight: bold;
  font-size: 14.5px;
  line-height: 130%;
  text-transform: uppercase;
  @media (max-width: max-extra-large)
    font-size: 14px;
  @media (max-width: max-medium)
    font-size: 13.5px;

.label-2
  font-weight: bold;
  font-size: 12.75px;
  line-height: 115%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @media (max-width: max-extra-large)
    font-size: 12.5px;
    line-height: 130%;
  @media (max-width: max-medium)
    font-size: 12px;

.btn
  padding: 0 13px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 25px 3px;
  background-color: transparent;
  border: none;
  outline: 0;
  letter-spacing: 0.02em;
  min-width: 120px;
  height: 48px;
  position relative
  cursor pointer
  -webkit-appearance: none;
  text-decoration none
  font-weight: bold;
  font-size: 14.5px;
  line-height: 130%;
  text-transform uppercase
  transition all .3s ease-in-out
  @media (max-width: max-medium)
    height: 41px;
  &.\--icon
    min-width: 55px;
    @media (max-width: max-sm)
      min-width: 0;
  &.\--style-2
    border-radius: 0 25px 5px 0;
    padding: 0 30px;
  &.\--middle
    height: 40px;
    @media (max-width: max-medium)
      font-size: 13.5px;
      line-height: 130%;
  &.\--small
    height 22px
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.04em;
    border-radius: 10px 10px 10px 2px;
    text-transform initial
    min-width 80px
    @media (max-width: max-medium)
      font-size: 11.54px;
      line-height: 130%;
      letter-spacing: 0.02em;
  &.\--full-width
    width 100%
  &.\--wide
    padding: 0 40px;
  &.\--red
    background-color accent-red
    color white
    box-shadow: 0 2px 4px rgba(8, 35, 48, 0.24);
    &:hover
      box-shadow: 0 4px 8px rgba(215, 75, 72, 0.44);
      background-color #F5564A
    &:active
      background-color #D74B48
    svg
      fill white
    &.--disabled
      background-color #DFE2E9
  &.\--red-transparent
    background-color transparent
    color accent-red
    border: 1.5px solid accent-red
    &:hover
      color #F5564A
      border-color #F5564A
    &:active
      color #D74B48
      border-color #D74B48
    &.--disabled
      border-color #DFE2E9
  &.\--white
    background-color white
    color accent-dark
    border: 1px solid #dfe2e9;
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(8, 35, 48, 0.24);
    svg
      fill accent-dark
    &:hover
      color #566069
      box-shadow: 0 4px 8px rgba(8, 35, 48, 0.24);
      svg
        fill #566069
    &:active
      color accent-dark
      box-shadow none
    &.--disabled
      background-color #DFE2E9
  &.\--black
    background-color white
    color #0C0033
    border 1px solid #0C0033
    &:hover
      color #F5564A
      border-color #F5564A
    &:active
      color #D74B48
      border-color #D74B48
  &.\--disabled
    background-color transparent
    pointer-events none
    box-shadow none
    color #C9CFDA
    svg
      fill #C9CFDA
  &.\--circle,
  &.\--circle-white
    width: 48px;
    min-width: 48px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid transparent
  &.\--circle
    //
  &.\--circle-white
    color accent-red
    background-color white
    border-bottom: none;
    box-shadow: 0px 4px 8px rgba(215, 75, 72, 0.44);
    &:hover
      box-shadow: 0px 16px 24px rgba(215, 75, 72, 0.24);
      color #F5564A
    &:active
      color #D74B48
      border-color #dfe2e9;
      box-shadow none
  &.\--arrow-white,
  &.\--arrow-black
    width 40px
    min-width 40px
    height 38px
    font-size: 22px;
    background: rgba(255, 255, 255, 0.3);
    &:hover
      box-shadow: 0px 4px 8px rgba(8, 35, 48, 0.24);
  &.\--arrow-white
    color white
    border: 1.5px solid #FFFEFE;
  &.\--arrow-black
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    color: accent-dark;
  &.\--arrow-left
    border-radius: 25px 25px 3px 25px;
  &.\--arrow-right
    border-radius: 25px 25px 25px 3px;
  &.\--simple
    padding 0
    min-width 0
    color accent-red
    font-size: 12px;
    svg
      fill accent-red
  &__counter
    position absolute
    background-color accent-red
    color white
    box-shadow: 0px 4px 8px rgba(215, 75, 72, 0.44);
    border-radius: 10px 10px 10px 2px;
    font-weight: 600;
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.02em;
    right: -9px;
    top: -7px;
    padding: 3px 6px;
    @media (max-width: max-sm)
      right: -4px;
      top: 2px;
      font-size: 11px;
      line-height: 115%;
  svg
    margin-right: 4px;

.icon
  font-family: "fontello";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &-angle-left:before { content: '\f104'; }
  &-angle-right:before { content: '\f105'; }
  &-angle-up:before { content: '\f106'; }
  &-angle-down:before { content: '\f107'; }
  &-eye:before { content: '\e801'; }
  &-eye-off:before { content: '\e802'; }
  &-ok:before { content: '\e806'; }
  &-heart-empty:before { content: '\e807'; }
  &-twitter:before { content: '\f099'; }
  &-facebook:before { content: '\f09a'; }
  &-gplus:before { content: '\f0d5'; }
  &-youtube-play:before { content: '\f16a'; }
  &-instagram:before { content: '\f16d'; }
  //&-th-list:before { content: '\e804'; }
  //&-th:before { content: '\e805'; }
  //&-th,
  //&-th-list
  //  display inline-block
  //  font-size: 25px;
  //  width: 25px;
  //  padding-top: 2px;
  //  color accent-red
  //  cursor pointer
  //  transition color .3s ease-in-out
  //  &:hover
  //    color #F5564A
  //  &:active
  //    color #D74B48
  //  &.\--disabled
  //    pointer-events none
  //    color #C9CFDA
  //  &:after
  //    line-height: 20px;
  //    vertical-align: middle;


.block-logo
  width: 221px;
  padding: 20px 20px 14px;
  background-color white
  box-shadow: 0 16px 24px rgba(8, 35, 48, 0.16);
  border-radius: 30px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0;
  line-height: 0;
  @media (max-width: max-large)
    width: 220px;
    padding: 21px 23px 17px;
  @media (max-width: max-medium)
    box-shadow: none;
    border-radius: 0;
    width: 100%
    padding: 9px 0 10px;
  &.\--style-2
    width: auto
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    .block-logo__img
      width: 44px;
      @media (max-width: max-large)
        width: 38px;
      @media (max-width: max-medium)
        width: 30px;
    .block-logo__name
      margin-left: 15px;
      width: 165px;
      @media (max-width: max-large)
        margin-left: 15px;
        width: 147px;
      @media (max-width: max-medium)
        display: inline-block;
        margin-left: 9px;
        width: 111px;
  &.\--style-3
    width: 231px;
    //.block-logo__img
    //  width: 44px;
    @media (max-width: max-large)
      width: 220px;
    @media (max-width: max-medium)
      width: 100%
    .block-logo__name
      margin-left: 12px;
      width: 140px;
      @media (max-width: max-large)
        width: 129px;
      @media (max-width: max-medium)
        width: 96px;
        margin-left: 6px;
    .block-logo__text
      width: 193px;
      margin-top: 8px;
      margin-bottom: 4px;
  &__img
    width: 38px;
    @media (max-width: max-large)
      width: 33px;
    @media (max-width: max-medium)
      width: 28px;
  &__name
    margin-left: 10px;
    width: 131px;
    @media (max-width: max-medium)
      width: 96px;
      margin-left: 6px;
  &__text
    width: 182px;
    @media (max-width: max-large)
      margin-top: 9px;
    @media (max-width: max-medium)
      display none
  img
    width: 100%;

.modal-list
  font-weight: 600;
  text-transform uppercase
  letter-spacing: 0.04em;
  position relative
  display inline-flex
  margin-right: 4px;
  @media (max-width: max-medium)
    font-size: 12px;
  &:hover
    .modal-list__modal
      opacity: 1;
      pointer-events all
  &:after
    content '\f107'
    font-family: "fontello";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-weight: 600;
    color accent-red
    margin-left: 11px;
    @media (max-width: max-medium)
      font-size: 11px;
      margin-left: 5px;
  &__selected
    color accent-red
    display: flex;
    align-items: center;
  &__modal
    opacity 0
    pointer-events none
    position: absolute;
    box-shadow: 0px 24px 32px rgba(8, 35, 48, 0.24);
    border-radius: 0px 0px 25px 2px;
    background-color: white;
    z-index: 1;
    font-weight: bold;
    padding: 5px 0;
    top: -7px
    margin: 0 -10px;
    overflow hidden
    transition opacity .3s ease-in-out
    &-item
      padding: 4px 10px;
      cursor pointer
      white-space: nowrap;
      text-transform uppercase
      text-decoration none
      display: flex;
      align-items: center;
      font-size: 14.5px;
      line-height: 130%;
      transition color .3s, background-color .3s ease-in-out
      @media (max-width: max-medium)
        font-size: 11.5px;
        line-height: 120%;
      &.\--active
        background-color #768592
        color white !important
        &:after
          content '\e806'
          font-size: 13px;
          font-weight: 300;
          margin-left: 9px;
          font-family: "fontello";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
      &:hover
        color accent-red

.phone-modal
  display: flex;
  //flex-wrap: wrap;
  align-items: flex-start;
  cursor pointer
  &.\--large
    .phone-modal__icon
      width: 36px;
      margin-top: 10px;
      @media (max-width: max-large)
        width: 26px;
        padding-right: 5px;
      @media (max-width: max-medium)
        padding: 0;
    .phone-modal__main
      width: calc(100% - 36px);
      @media (max-width: max-medium)
        width 100%
      &-phone
        margin-right: 0;
        margin-top: 3px;
        font-size: 25.5px;
        line-height: 110%;
        font-weight: 600;
        color accent-red
        letter-spacing: 0.04em;
        @media (max-width: max-large)
          font-size: 21.25px;
        @media (max-width: max-medium)
          font-size: 16.75px;
          margin-right: 14px
    .phone-modal__tip
      transform: translateY(-8px);
      margin-left 0
      @media (max-width: max-large)
        font-size: 11px;
      @media (max-width: max-medium)
        transform: translateY(2px);
  &:hover
    .phone-modal__modal
      overflow visible
      opacity 1
      pointer-events all
      transform: translateY(0);
  &__icon
    padding-right: 12px;
    display: inline-block;
    width: 32px;
    margin-top: 1px;
    @media (max-width: max-large)
      width: 48px;
      margin-top: 11px;
    @media (max-width: max-medium)
      padding: 0;
      width: 100%;
      text-align: center;
    svg
      width 100%
  &__main
    position: relative;
    z-index 1
    @media (max-width: max-medium)
      display none
    &-phone
      font-weight: 600;
      font-size: 20.25px;
      line-height: 150%;
      letter-spacing: 0.04em;
      transform: translateY(-5px);
      color accent-red
      display inline-block
      position relative
      z-index 2
      @media (max-width: max-medium)
        font-size: 16.75px;
        line-height: 111%;
        transform: translateY(4px);
      &:after
        content '\f107'
        font-family: "fontello";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        font-weight: 600;
        color accent-red
        position: absolute;
        right: -23px;
        top: 0;
        @media (max-width: max-large)
          right: -20px;
          top: 0
        @media (max-width: max-medium)
          font-size: 14px;
          right: -14px;
  &__tip
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.04em;
    display: inline-block;
    position: relative;
    z-index: 2;
    color: #768592;
    transform: translateY(-7px);
    margin-left: 39px;
    @media (max-width: max-large)
      margin-left: 0
    @media (max-width: max-medium)
      line-height: 120%;
      transform: translateY(4px);
  &__modal
    overflow hidden
    opacity 0
    pointer-events none
    display: block;
    padding: 10px 25px 24px 29px;
    position: absolute;
    z-index: 1;
    top: -9px;
    left: -28px;
    width: 269px;
    border-radius: 60px 10px;
    background-color: #fff;
    transform: translateY(45px);
    box-shadow: 0px 24px 32px rgba(8,35,48,0.24);
    transition opacity .3s, transform .3s ease-in-out
    @media (max-width: max-medium)
      top: 0
      left: -16px;
      width: 220px;
      border-radius: 40px 5px;
      padding: 5px 20px 24px;
    @media (max-width: max-sm)
      left: -97px;
    &-item
      display: flex;
      align-items: center;
      flex-wrap wrap
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      margin-bottom: 11px;
      margin-left: 32px;
      @media (max-width: max-medium)
        font-size: 14px;
        line-height: 130%;
        margin-bottom: 9px;
        margin-left: 14px
    &-icon
      margin-right: 6px;
      font-size: 0;
      line-height: 0;
      @media (max-width: max-medium)
        margin-right: 3px;
    &-tip
      display block
      width 100%
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #768592;
      white-space nowrap
      @media (max-width: max-large)
        font-size 11px
    &-tel
      color: #0C0033;
    &-link
      font-weight: 600;
      color: accent-blue
    &-btn
      display: block;
      padding: 7px 0 0;
    .phone-modal__icon
      margin-top: 17px;
      width: 32px;
      padding-right: 9px;
      @media (max-width: max-medium)
        display inline-block !important
        margin-top: 11px;
        margin-left: 4px;
        padding-right: 5px;
        width: 25px !important;
    .phone-modal__main-phone
      font-size: 24.5px !important
      transform: translateY(-2px);
      @media (max-width: max-medium)
        font-size: 20px !important
        line-height: 120% !important
        margin-right: 0 !important
      &:after
        display none
    .phone-modal__tip
      margin-left: 40px !important
      white-space nowrap
      transform: translateY(-13px);
      @media (max-width: max-large)
        margin-left: 33px !important;
      @media (max-width: max-medium)
        margin-left: 6px !important
        transform: translateY(-3px);
        margin-bottom: 10px;


.icon-text
  display: flex;
  flex-wrap: wrap;
  align-items: center
  @media (max-width: max-medium)
    margin-bottom: 7px;
  &__icon
    margin-right: 13px;
    font-size 0
    line-height 0
    @media (max-width: max-medium)
      margin-right: 9px;
    svg
      @media (max-width: max-large)
        width: 20px;
      @media (max-width: max-medium)
        width: 17px;
  &__main
    @media (max-width: max-large)
      text-align left
  &__link
    font-weight: 600;
    font-size: 25.5px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color accent-red
    @media (max-width: max-large)
      font-size: 21.25px;
      line-height: 110%;
    @media (max-width: max-medium)
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.06em;
  &__tip
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.04em;
    color: #768592;
    display block
    @media (max-width: max-large)
      font-size: 11.54px;
      line-height: 130%;
    @media (max-width: max-medium)
      font-size: 11px;
      line-height: 115%;

.socials
  &__item
    font-size: 18px;
    line-height: 0;
    color #0C0033
    margin-left: 13px;
    text-decoration none
    width: 35px;
    height: 35px;
    display: inline-flex;
    border: 1px solid #0C0033
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    @media (max-width: max-large)
      margin-left: 7px;
    @media (max-width: max-medium)
      margin-left: 0;
      margin-right: 13px;

.tabs
  &__controls
    display: flex;
    flex-wrap: wrap;
    &-group
      background-color #FFF2F2
      border-radius 30px
      width: 50%;
      overflow hidden
      font-size 0
      @media (max-width: max-medium)
        width 100%
      &:nth-of-type(1)
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @media (max-width: max-medium)
          border-top-right-radius: 30px
          border-bottom-right-radius: 30px
          margin-bottom: 12px;
      &:nth-of-type(2)
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @media (max-width: max-medium)
          border-top-left-radius: 30px
          border-bottom-left-radius: 30px
    &-btn
      width: 20%;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: accent-red
      letter-spacing: 0.01em;
      padding: 9px 10px;
      display: inline-block;
      cursor: pointer;
      border-radius: 20px 20px 2px 20px;
      transition all .3s ease-in-out
      @media (max-width: max-extra-large)
        //padding: 9px 20px;
      @media (max-width: max-large)
        font-size: 14px;
        line-height: 130%;
      @media (max-width: max-medium)
        font-size: 13.5px;
      &.\--active,
      &:hover
        background: #D74B48;
        color white
  &__content
    padding: 11px 0;
    @media (max-width: max-large)
      //padding: 7px 0;
    @media (max-width: max-medium)
      padding: 8px 0;
    &-item
      display none
      margin: 0 -17px;
      font-size 0
      @media (max-width: max-extra-large)
        margin 0
      &.\--active
        display block
    &-elem
      width 10%
      cursor pointer
      padding: 6px 17px;
      display: inline-block;
      font-size: 14.5px;
      line-height: 150%;
      color accent-dark
      letter-spacing: 0.02em;
      text-decoration none
      @media (max-width: max-extra-large)
        width: 11%;
        text-align: center;
        padding: 6px 0
      @media (max-width: max-large)
        font-size: 14px;
        line-height: 150%;
        width: calc(100% / 7);
        padding: 8px 0;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
        width: 20%
        padding: 4px 0;
      @media (max-width: max-sm)
        width: 33.33%;
        text-align left
      &:nth-of-type(3n + 2)
        @media (max-width: max-sm)
          text-align center
      &:nth-of-type(3n)
        @media (max-width: max-sm)
          text-align right
      &.\--checked,
      &:hover
        color accent-dark
        font-weight: bold;










.brands-tabs
  margin: 19px 0 0;
  &__controls
    display: flex;
    flex-wrap: wrap;
    background-color #FFF2F2
    border-radius 30px
    width 100%
    overflow hidden
    font-size 0
    &-btn
      width: 33.33%;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: accent-red
      letter-spacing: 0.01em;
      padding: 9px 10px;
      display: inline-block;
      cursor: pointer;
      border-radius: 20px 20px 2px 20px;
      transition all .3s ease-in-out
      @media (max-width: max-large)
        font-size: 14px;
        line-height: 130%;
      @media (max-width: max-medium)
        font-size: 13.5px;
      span
        @media (max-width: max-medium)
          display none
      &.\--active,
      &:hover
        background: #D74B48;
        color white
  &__content
    padding: 24px 0 0;
    @media (max-width: max-medium)
      padding: 8px 0 0
    &-item
      display none
      font-size 0
      &.\--active
        display block
    &-elem
      width 25%
      padding: 6px 17px;
      display: inline-block;
      @media (max-width: max-medium)
        width: 50%;
        padding: 0;

.tire-center-btn
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 19px;
  height: 48px;
  vertical-align middle
  margin: 10px 15px;
  -webkit-appearance: none;
  background-color: #fff;
  outline: 0;
  min-width 160px
  border: 2px solid white
  font-weight: bold;
  font-size: 14.5px;
  line-height: 130%;
  color: #0c0033;
  text-transform: uppercase;
  border-radius: 25px 25px 25px 3px;
  box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
  transition all .3s ease-in-out
  @media (max-width: max-extra-large)
    padding: 12px 19px;
    margin: 10px 8px;
  @media (max-width: max-medium)
    min-width: 138px;
    padding: 12px 7px;
    margin: 9px 4px;
    font-size: 11.5px;
  &.\--active
    background-color #768592
    border-color #B0BAC9;
    color white
    &:before
      font-family: "fontello";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content '\e806'
      background-image none
      width 24px
      height 24px
      border-radius 50%
      background-color white
      color #768592
      font-size: 18px;
      line-height: 24px;
      text-align: center;
  &:before
    content ''
    background-image url("/img/svg/type-location.svg")
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;


.bread-crumbs
  font-size: 11.75px;
  line-height: 135%;
  letter-spacing: 0.04em;
  margin: 30px 0 10px;
  @media (max-width: max-extra-large)
    font-size: 11.54px;
    line-height: 130%;
    margin: 23px 0 4px;
  @media (max-width: max-medium)
    font-size: 11px;
    white-space: nowrap;
    overflow-y: auto;
    margin-top 19px
    margin-bottom 3px
    margin-right: -15px;
    padding-right: 10px;
  a.bread-crumbs__item
    color: #5E6366;
    position: relative;
    text-decoration none
    &:hover
      color accent-red
    &:after
      content: '\f105';
      font-family: "fontello";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin: 0 8px;
      font-size: 13px;
      @media (max-width: max-extra-large)
        margin: 0 4px;
        font-size: 12px;
      @media (max-width: max-medium)
        margin: 0 4px;
        font-size: 11px;
  span.bread-crumbs__item
    color: #B0BAC9

.shop-header
  margin: 10px 0 26px;
  @media (max-width: max-extra-large)
    margin: 4px 0 14px;
  @media (max-width: max-medium)
    margin: 3px 0 15px;
  span
    color accent-red
    white-space: nowrap;

.type-icon
  display inline-block
  text-align: center;
  padding: 3px 5px;
  min-width 31px
  font-weight: 600;
  text-transform uppercase
  font-size: 14.5px;
  line-height: 150%;
  letter-spacing: 0.02em;
  border-radius: 5px;
  border: 2px solid #ECEFF1;
  margin-right: 2px;
  height: 31px;
  @media (max-width: max-medium)
    font-size: 12px;
    line-height: 130%;
  i
    font-size: 11.75px;
    line-height: 1;
    letter-spacing: 0.04em;
    font-weight: normal;
    font-style: normal;
    text-transform: initial;

.type-icons
  display inline-block
  background-color #ECEFF1
  border 2px solid #ECEFF1
  border-radius: 4px;
  font-weight: 600;
  font-size: 14.5px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform uppercase
  height: 31px;
  @media (max-width: max-medium)
    font-size: 12px;
    line-height: 130%;
  &__item
    display: inline-flex;
    align-items: center;
    border-right: 2px solid white;
    padding-top: 4px
    padding-bottom: 4px;
    padding-left: 3px;
    padding-right: 5px;
    max-height: 100%;
    &:first-of-type
      padding-left: 4px;
    &:last-of-type
      border-right none
      padding-left: 0;
    img
      max-width: 24px;
      margin-right: 2px;

.toggle-view
  display inline-block
  text-align right
  font-size 0
  line-height 0
  &__btn
    cursor pointer
    -webkit-appearance: none;
    text-decoration none
    border none
    outline 0
    padding: 0;
    margin-left: 15px;
    &.\--active,
    &:hover
      svg
        fill accent-red
    svg
      fill #C9CFDA

.rating
  display: inline-block;
  font-size 0
  line-height 0
  &.\--clickable
    .rating__star
      cursor pointer
      &:not(.--filled)
        &:hover
          svg
            stroke dark-grey
  &__star
    display inline-block
    width: 18px;
    text-align: center
    &.\--filled
      svg
        fill #FAE187
        stroke #FAE187
    svg
      width: 17px;
      height: 17px;
      stroke #DCDCDC
      fill none
      transition all .3s ease-in-out
      @media (max-width: max-extra-large)
        width: 15px;
        height: 15px;

.rating-with-counter
  font-weight: 800;
  font-size: 14.5px;
  line-height: 150%;
  letter-spacing: 0.02em;
  display: inline-flex;
  align-items: center;
  .rating
    margin-left: 10px;

.icon-link
  display: inline-flex;
  align-items: end;
  margin-right: 28px;
  @media (max-width: max-extra-large)
    margin-right: 0;
    width: 100%;
    margin-bottom: 8px;
  @media (max-width: max-medium)
    margin-right: 25px;
    margin-bottom: 0
    width auto
  &:last-of-type
    margin-right 0
  &__icon
    font-size: 0;
    line-height: 0;
    margin-right: 7px;
    @media (max-width: max-extra-large)
      margin-right: 3px;
    @media (max-width: max-medium)
      margin-right: 4px;
  &__link
    font-size: 12.75px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color accent-red
    @media (max-width: max-medium)
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.02em;


.flatpickr-calendar
  width: 100%
  box-shadow: none;
  .flatpickr-rContainer
    width 100%
  .flatpickr-monthDropdown-months
    pointer-events none
    appearance inherit
  .arrowUp,
  .arrowDown
    display none
  .numInputWrapper
    pointer-events none
    @media (max-width: max-large)
      font-size: 17px;
  .flatpickr-current-month
    @media (max-width: max-medium)
      padding-top 0
  .flatpickr-current-month input.cur-year[disabled],
  .flatpickr-monthDropdown-months
    font-weight: 600;
    font-size: 20.25px;
    line-height: 150%;
    color accent-dark
    letter-spacing: 0.04em;
    padding-left 0
    @media (max-width: max-large)
      font-size: 15px;
  .flatpickr-months
    margin-bottom: 30px;
    @media (max-width: max-medium)
      margin-bottom: 0
    .flatpickr-next-month,
    .flatpickr-prev-month
      top: 3px;
      @media (max-width: max-large)
        //top: -7px;
      @media (max-width: max-medium)
        top -7px
  .flatpickr-weekday
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #DFE2E9;
    font-weight: 400;
  .flatpickr-days
    width 100%
    .dayContainer
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      justify-content: flex-start;
  .flatpickr-day
    width: 32px;
    display: inline-block;
    flex-basis: 32px;
    max-width: 100%;
    margin: 2px 6px;
    height: 32px;
    line-height: 32px;
    @media (max-width: max-medium)
      width: 28px;
      flex-basis: 28px;
      height: 28px;
      line-height: 28px;
    &.today
      border-color #ECEFF1
    &.selected
      background-color accent-red
      color white
      border-color accent-red
    &.flatpickr-disabled
      //font-size: 14.5px;
      //line-height: 270%;
      color: #DFE2E9;
      pointer-events none
      cursor default

#basic-date
#basic-date-mob
  display none


.record-active
  border-color transparent !important
  color accent-dark !important
  pointer-events none
