@import "nib"
@import "vars"
@import "mixins"

textarea
  resize: none;
  -webkit-appearance: none;

input[type="file"]
input[type="radio"]
  display none

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0

input[type="text"]
input[type="tel"]
input[type="email"]
input[type="number"]
input[type="password"]
  -webkit-appearance: none;
  outline 0
  appearance: none;

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type="password"]::-ms-reveal {display: none;}

input[type="number"]
  -moz-appearance: textfield
  border none
  outline none

input[type="submit"]
  border: 0;
  width: 100%;
  border-radius: 4px;
  padding: 20px 39px;
  outline: 0;
  font-size: 18px;
  transition: all 0.5s ease;
  background-color: #d4301a;
  cursor: pointer;
  margin: 0;
  color: white;

.field
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position relative
  &__label
    font-weight: 600;
    font-size: 11.75px;
    line-height: 135%;
    letter-spacing: 0.04em;
    margin-bottom: 1px;
    display: inline-block
    @media (max-width: max-medium)
      font-size: 11px;
      line-height: 115%;
      margin-bottom: 4px;
  &__textarea
    height: 80px;
    outline: 0;
  &__textarea,
  &__input
    width: 100%;
    border: 1px solid #DFE2E9;
    background-color white
    border-radius: 4px;
    padding: 11px 8px 8px;
    line-height: 1.4;
    &::placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
    &::-webkit-input-placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
    &:-moz-placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
    &::-moz-placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
    &:-ms-input-placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
  &__link
    font-size: 11.75px;
    line-height: 135%;
    color accent-red
    letter-spacing: 0.04em;
    @media (max-width: max-medium)
      font-size: 11px;
      line-height: 130%;
      text-decoration-line: underline;
  &__eye
    display inline-block
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 5px;
    color: #B0BAC9;
    font-size: 14.5px;
    line-height: 150%;
    font-family: "fontello";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    &.\--open
      &:before
        content: '\e801'
    &:before
      content: '\e802'


.SumoSelect
  width: 100%;
  & > .CaptionCont
    width: 100%;
    border: 1px solid #DFE2E9 !important
    outline 0 !important
    background-color: white;
    border-radius: 4px;
    padding: 11px 8px 8px;
    line-height: 1.4;
    box-shadow: none !important
    & > span.placeholder
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #B0BAC9;
      font-style: normal;
      @media (max-width: max-medium)
        font-size: 13px;
        line-height: 135%;
  & > .optWrapper
    & > .options
      li
        &.opt
          transition color .3s, background-color .3s ease-in-out
          &.selected,
          &:hover
            background-color: #768592;
            color: #fff


.auth-form
  &__footer
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
    .btn
      min-width: 170px;
      @media (max-width: max-medium)
        min-width: 122px;
    &-link
      font-weight: bold;
      font-size: 12.75px;
      line-height: 115%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color accent-red
      @media (max-width: max-medium)
        font-size: 12px;
        line-height: 130%;

.form-sect
  padding: 10px 0 0;
  margin-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: max-large)
    margin-bottom: 31px;
  @media (max-width: max-medium)
    margin-bottom 21px
  &__title
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color accent-color-6
    text-align left
    width: 100%;
    margin-bottom: 18px;
    @media (max-width: max-medium)
      margin-bottom: 4px;
  &__col-1
    width: 100%;
  &__col-4
    width: 24%;
    @media (max-width: max-large)
      width: 49%;
    @media (max-width: max-medium)
      width 100%
  &__col-6
    width: 48%;
    @media (max-width: max-medium)
      width 100%
  &__col-12
    width: 100%;

