@import "nib"
@import "vars"
@import "mixins"

.header
  position: fixed;
  left: 0;
  right: 0;
  top 0
  z-index: 99;
  background-color white
  box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
  @media (max-width: max-medium)
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  &.\--hide-controls
    .header__aside
      @media (max-width: max-large)
        display: none;
  &.\--narrow
    .header__content
      padding-bottom: 7px;
      @media (max-width: max-extra-large)
        position relative
        padding-top: 11px;
        padding-bottom: 9px;
      @media (max-width: max-medium)
        padding: 0 15px;
    .header__phone
      width auto
    .phone-modal__modal
      @media (max-width: max-sm)
        left: -15px;
      @media (max-width: 459px)
        left: -80px;
    .header__logo
      @media (max-width: max-medium)
        width: calc(100% - 200px);
      @media (max-width: 459px)
        width: calc(100% - 140px);
    .phone-list__main
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: max-large)
        width: calc(100% - 32px);
      @media (max-width: max-medium)
        width 100%
    .phone-list__tip
      @media (max-width: max-medium)
        margin-left: 0;
        font-size: 11px;
        line-height: 130%;
    .header__langs
      display block
      @media (max-width: max-medium)
        margin-left: 9px;
      @media (max-width: 459px)
        //display none
    .header__schedule
      span
        margin-left: 3px;
    .header__info
      padding-bottom 0
      @media (max-width: max-medium)
        width: 160px;
      @media (max-width: 459px)
        width: 100px;
  &__aside
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-color: white;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    width: 100px;
    display: flex;
    flex-direction column
    @media (min-width: max-extra-large)
      &::-webkit-scrollbar-track
        background-color: transparent
      &::-webkit-scrollbar
        width 6px
        border-radius 30px
        background-color: transparent
      &::-webkit-scrollbar-thumb
        background-color: accent-red
        width 6px
        border-radius 30px
    @media (max-width: max-extra-large)
      order 4
      box-shadow none
      flex-direction row
      width: 100%
      position: static;
      height: 52px;
      margin: auto;
      margin-top: 2px;
      padding-left: 237px;
    @media (max-width: max-large)
      margin-top: 6px;
      height: 50px;
    @media (max-width: max-medium)
      padding-left: 0
      height: 40px;
      width: 510px;
      margin-top: 5px;
      order 5
    @media (max-width: max-sm)
      margin-top: 0
    &:before
      content ''
      display none
      @media (max-width: max-extra-large)
        display block
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        top: 64px;
        background-color: #DFE2E9;
        z-index: 2;
      @media (max-width: max-medium)
        top: 53px;
      @media (max-width: max-sm)
        top: 49px;
    &-stub
      box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
      height: 65px;
      margin-bottom: 84px;
      @media (max-width: max-extra-large)
        display none
    &-btn
      border: 1px solid #dfe2e9;
      display: block;
      margin-bottom: -1px;
      text-align center
      position relative
      @media (max-width: max-extra-large)
        margin-left: -1px;
        width: calc(100% / 7 + 1px);
        border-top: none;
        border-bottom: none;
        margin-bottom 0
      @media (max-width: max-medium)
        width: calc(100% / 6 + 1px);
      &.\--burger
        height: 100%;
        overflow: hidden;
        padding: 9px 8px;
        display none
        transition background-color .3s ease-in-out
        @media (max-width: max-extra-large)
          display: flex;
          align-items: center;
          justify-content: center;
        @media (max-width: max-medium)
          display none
      &.\--active
        @media (max-width: max-extra-large)
          background-color accent-red
          svg
            fill white
            stroke white
          .header__aside-sub-menu
            opacity 1
            visibility visible
            pointer-events all
      &.\--disabled
        .header__aside-link
          pointer-events none
          background-color: #dfe2e9;
          color: #ccd1dc;
        svg
          fill #ccd1dc;
          stroke #ccd1dc;
      &:hover
        .header__aside-sub-menu
          opacity 1
          visibility visible
          pointer-events all
      &-icon
        font-size 0
        line-height 0
        margin-bottom: 6px;
        display block
        svg
          fill accent-dark
          stroke accent-dark
          @media (max-width: max-medium)
            width 24px
            height 24px
      &-text
        font-size: 12.75px;
        line-height: 150%;
        letter-spacing: 0.04em;
        display block
        @media (max-width: max-extra-large)
          display none
    &-link
      height 100%
      text-decoration none
      display block
      cursor pointer
      color accent-dark
      transition background-color .3s, color .3s ease-in-out
      padding: 15px 5px 14px;
      @media (max-width: max-extra-large)
        padding: 8px 5px 0
      &:hover
        color white
        background-color accent-red
        svg
          fill white
          stroke white
    &-sub-menu
      opacity 0
      visibility hidden
      pointer-events none
      background-color white
      box-shadow: 0px 24px 32px rgba(8, 35, 48, 0.24);
      border-radius: 60px 10px 10px 60px;
      position: fixed;
      left: 100px;
      top: 60%;
      transform: translateY(-50%);
      display: block;
      width: 371px;
      //height: 706px;
      max-height: 70%;
      overflow: auto;
      z-index: 1;
      padding: 13px 30px;
      text-align: left;
      transition opacity .3s ease-in-out
      @media (min-width: max-extra-large)
        &::-webkit-scrollbar-track
          background-color: transparent
        &::-webkit-scrollbar
          width 6px
          border-radius 30px
          background-color: transparent
        &::-webkit-scrollbar-thumb
          background-color: accent-red
          width 6px
          border-radius 30px
      @media (max-width: max-extra-large)
        padding: 0 14px 10px;
        transform: none;
        max-height: calc(100% - 120px);
        left: auto;
        right: calc((100% - 928px) / 2);
        top: 118px;
        width: 365px;
        border-radius: 0px 0px 40px 5px;
        box-shadow: 0px 24px 32px rgba(8, 35, 48, 0.24);
      @media (max-width: max-large)
        right: calc((100% - 688px) / 2);
        top: 116px;
      @media (max-width: max-medium)
        top: 95px;
        width: 289px;
        right: calc((100% - 510px) / 2);
      @media (max-width: max-sm)
        right 15px
        top: 90px;
      &-title
        font-weight: bold;
        font-size: 18px;
        line-height: 145%;
        display block
        margin: 20px 0 12px;
        @media (max-width: max-extra-large)
          font-size: 15.5px;
          line-height: 140%;
          letter-spacing: 0.02em;
      &-link
        display block
        margin-bottom: 12px;
        a
          font-size: 14.5px;
          line-height: 150%;
          letter-spacing: 0.02em;
          color: #566069
          text-decoration none
          @media (max-width: max-extra-large)
            font-size: 13px;
            line-height: 135%;
          &:hover
            color accent-red
  &__burger
    display none
    @media (max-width: max-medium)
      order 1
      display block
      width 35px
    @media (max-width: max-sm)
      width 30px
  &__logo
    position absolute
    top: 0;
    left: 40px;
    z-index: 2
    @media (max-width: max-extra-large)
      order 1
      left: calc((100% - 990px) / 2);
    @media (max-width: max-large)
      left: calc((100% - 695px) / 2);
    @media (max-width: max-medium)
      position static
      width: calc(100% - 276px);
      order 2
    @media (max-width: max-sm)
      width: calc(100% - 153px);
  &__content
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 100%;
    @media (max-width: max-extra-large)
      justify-content: flex-end;
      padding-bottom 0
      padding-top: 10px;
    @media (max-width: max-medium)
      justify-content: end;
      padding-top: 2px;
    @media (max-width: max-sm)
      position: relative;
      z-index: 2;
  &__phone
    width: 233px;
    transform: translateY(4px);
    z-index: 3;
    @media (max-width: max-extra-large)
      margin-left: 218px;
    @media (max-width: max-large)
      order 2
      margin-left: 237px;
      width: calc(100% - 457px) !important
    @media (max-width: max-medium)
      margin-left: 0
      order 3
      width: 40px !important
      padding: 0 8px;
      transform: translateY(-3px);
    .phone-list__icon
      @media (max-width: max-medium)
        display none
  &__links
    text-align: center;
    @media (max-width: max-extra-large)
      display none
    a
      //padding: 0 15px;
      padding: 0 21px;
      text-decoration none
  &__info
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: max-extra-large)
      order 3
      flex-grow: 1;
      justify-content: flex-end;
      padding-bottom: 5px;
    @media (max-width: max-medium)
      order 4
      width: 200px;
      flex-grow: 0;
      padding-bottom: 0
    @media (max-width: max-sm)
      width: 83px;
    button
      @media (max-width: max-extra-large)
        height: 38px;
      @media (max-width: max-medium)
        padding: 0 6px;
      @media (max-width: max-sm)
        font-size: 0;
        margin-right: 0;
        box-shadow: none !important;
        border: none !important;
      &:first-of-type
        margin-right: 30px;
        min-width: 102px;
        @media (max-width: max-extra-large)
          margin-right: 20px;
        @media (max-width: max-sm)
          min-width: 0;
          margin-right: 0;
    .btn.--white
      //margin-left 30px
      //@media (max-width: max-extra-large)
      //  margin-right: 20px;
      //@media (max-width: max-sm)
      //  margin-right: 0;
  &__langs
    margin-left: 45px;
    @media (max-width: max-extra-large)
      display none
  &__schedule
    @media (max-width: max-medium)
      display: flex;
      align-items: flex-end;
    @media (max-width: 459px)
      flex-direction: column;
    span
      &:first-of-type
        @media (max-width: max-extra-large)
          width: 100%;
          display: block;
        @media (max-width: max-medium)
          width: auto
          display: inline-block;
        @media (max-width: 459px)
          display none
