@import "nib"
@import "vars"
@import "mixins"

.wrapper
  margin auto
  padding-right 15px
  padding-left 15px
  max-width: 1140px
  @media (max-width: max-extra-large)
    max-width: 960px;
  @media (max-width: max-large)
    max-width 720px
  @media (max-width: max-medium)
    max-width 540px
  @media (max-width: max-sm)
    max-width 100%

.intro-main
  padding: 97px 0 112px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  @media (max-width: max-large)
    padding: 36px 0 54px;
  @media (max-width: max-medium)
    padding: 1px 0 25px;
  p
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    @media (max-width: max-large)
      font-size: 15px;
    @media (max-width: max-medium)
      font-size: 14px;
      line-height: 130%;
  &__btns
    margin: 40px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-large)
      margin: 27px auto 12px;
      max-width: 458px;
    @media (max-width: max-medium)
      margin: 27px auto 7px;
    .btn
      width 23%
      @media (max-width: max-large)
        margin-bottom: 19px;
      @media (max-width: max-medium)
        margin-bottom: 13px;
      &:nth-of-type(1),
      &:nth-of-type(2)
        @media (max-width: max-large)
          width: 48%;
        @media (max-width: max-medium)
          width: 48%;
      &:nth-of-type(3),
      &:nth-of-type(4)
        @media (max-width: max-large)
          width: 48%;
        @media (max-width: max-medium)
          width 100%
  &__actions
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1120px;
    visibility: hidden
    @media (max-width: max-extra-large)
      max-width: 1007px;
    .slick-slider
      &:not(.slick-dotted)
        .slick-track
          width: auto !important;
    &.slick-initialized
      visibility: visible;

.advantages
  padding: 39px 0 30px;
  background-image url("/img/common/bg-2.png")
  background-repeat: repeat;
  @media (max-width: max-large)
    padding: 31px 0 30px;
  @media (max-width: max-medium)
    padding: 15px 0 0;
  &.\--on-listing
    border: 1px solid #F1F3F4;
    border-radius: 65px 5px;
    padding: 30px 0 10px
    @media (max-width: max-large)
      padding: 15px 22px;
      border: none
      border-radius: 0
    @media (max-width: max-medium)
      padding: 10px 22px;
    .advantages__content
      flex-direction: column;
      padding: 0;
      @media (max-width: max-large)
        flex-direction: row;
    .advantage
      width: 100%;
      margin-bottom: 16px;
      @media (max-width: max-large)
        width: 25%;
        margin-bottom: 0;
        justify-content: center;
      .advantage__text
        @media (max-width: max-large)
          display none
  &.\--on-product
    border: 1px solid #F1F3F4;
    border-radius: 35px 5px;
    padding: 18px 0 10px
    @media (max-width: max-extra-large)
      padding: 10px
    @media (max-width: max-medium)
      border: none;
      border-radius: 0;
      padding: 18px 15px;
      margin: 0 -15px 0;
    .advantage
      @media (max-width: max-medium)
        margin-bottom: 0;
        width: 18%;
    .advantage__img
      height: 63px;
    .advantages__content
      @media (max-width: max-medium)
        flex-direction: row;
    .advantage__img
      @media (max-width: max-medium)
        height: auto;
  &__content
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-medium)
      flex-direction: column;

.filter-sect
  background-color: #ECEFF1;
  text-align: center;
  padding: 25px 0;
  @media (max-width: max-medium)
    padding: 14px 0;
  .btn
    padding: 0 28px;

.tabs-sect
  padding-top: 30px;
  padding-bottom: 23px;
  @media (max-width: max-large)
    padding-top: 17px;
    padding-bottom: 0
  @media (max-width: max-medium)
    padding-top: 15px;
    padding-bottom: 6px;
  &__title
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20.25px;
    line-height: 150%;
    letter-spacing: 0.04em;
    @media (max-width: max-large)
      font-size: 18px;
      margin-bottom: 16px;
    @media (max-width: max-medium)
      font-size: 16.75px;
      line-height: 111%;
      margin-bottom: 13px;

.our-brands
  text-align: center;
  padding: 9px 0 27px;
  @media (max-width: max-extra-large)
    padding: 9px 0 39px;
  @media (max-width: max-medium)
    padding: 9px 0 25px;
  &__title
    margin: 23px 0 12px;
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 10px 0 12px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 11px;
  p
    font-size: 12.75px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #566069;
    max-width: 930px;
    margin: auto;
    @media (max-width: max-medium)
      font-size: 12px;
      line-height: 130%;
  &__slider
    max-width: 1138px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    visibility hidden
    @media (max-width: max-extra-large)
      max-width: 1010px;
      margin: 28px auto 0;
    @media (max-width: max-medium)
      margin: 28px auto 0;
    &.slick-initialized
      visibility: visible;

.last-news
  text-align: center;
  padding: 9px 0 41px;
  background-image url("/img/common/bg-5.jpg")
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: max-extra-large)
    padding: 9px 0 30px;
  @media (max-width: max-medium)
    padding: 9px 0 20px;
  &__title
    margin: 23px 0 12px;
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 18px 0 31px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 11px;
  &__slider
    max-width: 1138px;
    margin: 30px auto 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    visibility hidden
    @media (max-width: max-extra-large)
      max-width: 1010px;
      margin: 28px auto 25px
    @media (max-width: max-medium)
      margin: 18px auto 19px;
    &.slick-initialized
      visibility: visible;

.tire-centers
  background-color #768592
  text-align center
  padding: 31px 0 0;
  position relative
  @media (max-width: max-extra-large)
    padding: 9px 0 0;
  @media (max-width: max-medium)
    padding: 10px 0 0;
  &:after
    content ''
    background-image url("/img/common/bg-6.png")
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    z-index: 1;
  &__title
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color white
    margin-bottom: 12px;
    position relative
    z-index: 2;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 18px 0 10px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 8px;
  &__text
    font-size: 12.75px;
    line-height: 150%;
    color: #F1F3F4
    letter-spacing: 0.04em;
    max-width: 910px;
    margin: auto;
    position relative
    z-index: 2;
    @media (max-width: max-medium)
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.02em;
  &__btns
    margin: auto;
    padding: 19px 0 29px;
    max-width: 970px;
    position relative
    z-index: 2;
    @media (max-width: max-medium)
      padding: 15px 12px;
      display flex
      flex-wrap wrap
      justify-content space-between

.centers
  position relative
  padding: 13px 0 22px
  background-image url("/img/common/bg-6.png")
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #768592;
  &__title
    font-weight: 600;
    font-size: 25.5px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color white
    margin-bottom: 14px;
  &__btns
    margin: 0 -15px;
    .tire-center-btn
      //padding: 11px 19px;
      min-width: 194px;


.tire-centers-list
  padding: 30px 0 0;
  &__city
    font-weight: 600;
    font-size: 25.5px;
    line-height: 110%;
    letter-spacing: 0.04em;
    color accent-dark
    margin-bottom: 26px;
  &__list
    //


.listing-grid
  &__header
    &-controls
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items center
      padding: 12px 0;
      @media (max-width: max-medium)
        flex-direction: column;
        text-align: center;
        padding: 0;
      &-mob
        background-color #ECEFF1
        display none
        width 100%
        padding: 4px 15px 2px;
        justify-content: space-between;
        @media (max-width: max-medium)
          display flex
        @media (max-width: max-sm)
          width: calc(100% + 30px);
          margin: 0 -15px;
      &-mob-season
        display none
        border-bottom: 1px solid #ECEFF1;
        width 100%
        padding: 4px 15px 3px;
        @media (max-width: max-medium)
          display block
          margin-bottom 13px
        @media (max-width: max-sm)
          width: calc(100% + 30px);
          margin: 0 -15px 13px
        .season-wrapper
          margin-bottom 0 !important
        .checkbox-wrapper
          display: flex;
          justify-content: space-between;
          max-width: 290px;
          margin: auto;
      &-left
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items baseline
        width: 74%;
        @media (max-width: max-extra-large)
          width: 88%;
        @media (max-width: max-medium)
          align-items center
          width: 100%;
        @media (max-width: max-sm)
          justify-content: center;
      &-right
        display: flex;
        align-items: center;
        @media (max-width: max-medium)
          display none
      &-info
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        @media (max-width: max-extra-large)
          font-size: 15px;
          width: calc(100% - 240px)
        @media (max-width: max-medium)
          text-align: left;
          padding-right: 15px;
          width 100%
        @media (max-width: max-sm)
          font-size: 12px;
          line-height: 130%;
          padding-right 0
          width: 100%;
          margin-bottom: 16px;
      &-list
        width: 252px;
        text-align: left;
        @media (max-width: max-extra-large)
          width: 240px;
        @media (max-width: max-medium)
          display none
        .field
          margin-bottom 0
  &__main
    padding: 26px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-large)
      flex-direction: column-reverse;
      padding: 15px 0 0
    @media (max-width: max-sm)
      padding: 8px 0 0
  &__cards
    margin: 0 -15px;
    width: 856px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @media (max-width: max-extra-large)
      margin: 0 -7px;
      width: 735px;
    @media (max-width: max-large)
      margin: 0;
      width: 100%;
    @media (max-width: max-sm)
      flex-direction: column;
      align-items: center;
    &.\--horizontal-cards
      margin: 0;
      width: 826px;
      @media (max-width: max-extra-large)
        width: 740px;
      @media (max-width: max-large)
        width 100%
      .type-card
        width: 100%;
        height: 204px;
        margin: 0 0 26px;
        border-radius: 25px 5px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: max-large)
          height: 180px;
          margin: 0 0 23px;
        &.\--simple-banner
          display none
        &.\--with-banner
          height: auto;
          .type-card__img
            height: 202px;
            @media (max-width: max-extra-large)
              height: 197px;
            @media (max-width: max-large)
              height: 192px;
          .type-card__main
            padding: 20px 15px 14px 29px;
            @media (max-width: max-extra-large)
              padding: 20px 10px 10px 10px;
          .type-card__banner
            display block
        &__img
          border-bottom: none;
          height: 100%;
          width: 31%;
          @media (max-width: max-large)
            width: 32%;
        &__brand
          margin-bottom 17px
        &__main
          display: flex;
          flex-wrap: wrap;
          padding: 20px 15px 20px 29px;
          width: 69%;
          @media (max-width: max-large)
            padding: 10px;
            width: 68%;
          &-sect
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 74%;
            &-top
              padding: 0;
              z-index: 3;
            &-btm
              opacity: 1;
              position: static;
              pointer-events: all;
              visibility: visible;
              transform: translateY(0);
              padding: 0 0 8px;
              border-radius: 0;
              background-color: white;
              box-shadow: none !important
              @media (max-width: max-large)
                padding: 0 0 13px;
                display block
              &-further
                display none
          &-controls
            width: 26%;
            padding: 0;
            border-radius: 0;
            flex-direction: column
            align-items: flex-end;
            justify-content: flex-start;
            @media (max-width: max-large)
              //
            &-block
              width: 100%;
              padding-top: 0;
              &:first-of-type
                margin-bottom: 19px;
        &__title
          -webkit-line-clamp: 1;
          height auto
        &__info
          display: inline-flex;
          position: relative;
          z-index: 1;
          flex-wrap: wrap;
          align-items center
          margin: 5px 0 0;
          @media (max-width: max-large)
            margin: 10px 0 0;
          &:hover
            .type-card__info-modal
              opacity 1
              pointer-events all
              visibility visible
          &-type
            margin: 0 9px 0 0;
          &-icons
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        &__price
          &.\--old
            @media (max-width: max-large)
              margin-bottom: 2px;
        &__profit
          text-align: right;
        &__quick-order
          margin-top: 11px;
        &__further-info
          margin-bottom: 0;
          margin-top: 3px;
          &-label
            width: auto;
            min-width: 26%;
            padding-right: 10px;
            @media (max-width: max-large)
              min-width: 29%;
  &__aside
    width: 160px;
    @media (max-width: max-large)
      width: 100%;
      margin-bottom: 15px;
    @media (max-width: max-medium)
      display none
      //margin: 0 -15px 17px
      //width: calc(100% + 30px);
  &__sticky
    position: sticky;
    top: 85px;
    @media (max-width: max-extra-large)
      top: 125px;
    @media (max-width: max-large)
      position: static;

.center-gallery
  margin: 27px 0 20px
  &__main-img
    border-radius: 60px 5px;
    height: 370px;
    overflow hidden
    margin-bottom: 17px;
    &-photo
      width 100%
      height 100%
      object-fit cover
  &__previews
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &-item
      display block
      position relative
      border-radius: 15px 2px 10px;
      width: 105px;
      margin: 0 10px 10px
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      &:after
        content ''
        position absolute
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))

.center-info
  border: 1px solid #dfe2e9;
  border-radius: 30px 5px;
  display: flex;
  flex-wrap: wrap;
  &__header
    display flex
    flex-wrap wrap
    padding: 12px 18px;
    border-bottom: 1px solid #dfe2e9;
    width 100%
  &__address
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    position relative
    padding-left: 27px;
    margin-right: 33px;
    &:before
      content ''
      background-image url("/img/svg/type-location.svg")
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      left: 0;
      top: 3px;
  &__map-btn
    font-weight: bold;
    font-size: 12.75px;
    line-height: 115%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color accent-red
    -webkit-appearance: none;
    background: transparent;
    border: none;
    outline: 0;
    padding: 0;
  &__schedule,
  &__phone,
  &__email,
  &__further
    border-right: 1px solid #dfe2e9;
    padding: 17px 10px;
  &__schedule
    width: 27%;
  &__phone
    width: 13%;
  &__email
    width: 13%;
  &__further
    width: 24%;
  &__btn
    width: 23%;
    padding: 12px 32px;
  &__label
    font-weight: 600;
    font-size: 12.75px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #566069;
  &__content
    font-size: 14.5px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color accent-dark

.center-services
  margin: 38px 0 18px
  display: flex;
  flex-wrap: wrap;
  &__title
    font-weight: 600;
    font-size: 25.5px;
    line-height: 110%;
    letter-spacing: 0.04em;
    width 100%
    margin-bottom: 36px;
  &__item
    width 33.33%
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    &-icon
      width: 29px;
      height: 29px;
      font-size: 0;
      line-height: 0;
      img
        width 100%
        height 100%
        object-fit contain
    &-content
      width: calc(100% - 29px);
      padding-left: 8px;
    &-title
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      margin-bottom: 6px;
    &-text
      font-size: 12.75px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #768592;

.center-director
  background-color: #768592;
  position relative
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 29px 0;
  margin-bottom: 16px;
  background-image: url(/img/common/bg-8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__content
    width: 350px;
    transform: translateX(-51px);
    text-align: center;
  &__photo
    width: 150px;
    height: 150px;
    box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
    display: inline-block;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    img
      width: 100%;
      height: 100%;
      object-fit: cover;

.text-block
  margin: 40px 0 60px;


.sect-record
  padding: 30px 0 34px;
  border-bottom: 1px solid #ECEFF1;
  &.\--hidden
    display none
  &__title
    font-weight: 600;
    font-size: 25.5px;
    line-height: 110%;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
  &__city
    font-size: 20.25px;
    line-height: 150%;
    color accent-red
    margin-left: 35px;
  &__btn
    &.\--bot
      font-weight: bold;
      font-size: 18px;
      line-height: 145%;
      letter-spacing: 0.02em;
      color white
      display inline-flex
      background-color accent-blue
      box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);
      border-radius: 30px;
      -webkit-appearance: none
      border none
      outline 0
      padding: 10px 24px 10px 13px;
      align-items: center;
      svg
        margin-right: 20px;
  &__centers
    margin 0 -15px
    display: flex;
    flex-wrap: wrap;
  &__center
    margin 0 15px 29px
    width calc(100% / 3 - 30px)
  .btn
    margin-right 45px
    padding 0 28px


.record-datepicker
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__date
    &:first-of-type
      width: 32%;
    &:last-of-type
      width 65%
    &.\--hidden
      display none
  &__label
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #768592;
    margin-left: 29px;
    margin-bottom: 19px;
  &__picker
    border: 3px solid #DFE2E9;
    border-radius: 60px 10px;
    padding: 15px 10px;
    overflow hidden

.timepicker
  display: flex;
  flex-wrap: wrap;
  padding: 2px 9px 8px;
  justify-content: space-between;
  &__day
    display: flex;
    flex-wrap: wrap;
    width 32%
    flex-direction column
    &-name
      font-weight: 600;
      font-size: 18px;
      line-height: 145%;
      letter-spacing: 0.02em;
      text-align: center;
      margin-bottom: 6px;
    &-times
      display: flex;
      flex-wrap: wrap;
      justify-content space-between
    &-time
      width 30%
      margin: 3px;
      border-radius: 3px;
      background-color: #ECEFF1;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.02em;
      padding: 8px 5px;
      text-align: center;
      cursor pointer
      &.\--disabled
        opacity: .3;
        pointer-events: none;
      &.\--checked
        background-color accent-red
        color white

.selected-center
  background-color #ECEFF1
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  padding: 9px 0;
  &.\--hidden
    display none
  &__content
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  &__label
    font-weight bold
    margin-right: 33px;
  &__center,
  &__date,
  &__time
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 42px;
    svg
      margin-right: 6px;

.record-order
  background-image: url(/img/common/bg-2.png);
  background-repeat: repeat;
  padding: 30px 0;
  &.\--hidden
    display none
  &__content
    border: 3px solid #DFE2E9;
    border-radius: 60px 10px;
    background-color white
    padding: 28px 28px 0
  &__title
    font-weight: 600;
    font-size: 20.25px;
    line-height: 150%;
    letter-spacing: 0.04em;
    margin-bottom: 6px;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
  &__storage
    border: 3px solid #ECEFF1;
    border-radius: 40px 5px;
    width: 100%;
    margin: 9px 0 0;
    padding: 25px 17px 19px;
    display: flex;
    flex-wrap: wrap;
    &-label
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      width: 23%;
      padding-right: 20px;
    &-info
      width: 77%;
      display: flex;
      flex-wrap: wrap;
    &-radio
      padding-right: 29px;
      input[type="radio"]
        //display block
        &:checked
          & ~ label
            &:after
              opacity 1
            .record-order__storage-radio-text
              span
                display block
            .field
              display block
      &-label
        position relative
        padding-left: 28px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        &:before,
        &:after
          content ''
          display: block;
          border-radius: 50%;
          position: absolute;
        &:before
          width: 17px;
          height: 17px;
          border: 2px solid accent-red
          left: 0;
          top 0
        &:after
          width: 13px;
          height: 13px;
          background-color: accent-red
          left: 4px;
          top: 4px;
          opacity 0
          transition opacity .3s ease-in-out
        .field
          width: 219px;
          margin-top: -11px;
          display none
      &-text
        width: 200px;
        display: block;
        padding-right: 5px;
        span
          font-weight: 600;
          font-size: 11.75px;
          line-height: 135%;
          letter-spacing: 0.04em;
          color: #B0BAC9;
          margin-top: 10px;
          display: none
    &-tip
      background-color #ECEFF1
      border-radius: 4px;
      padding: 10px;
      font-size: 11.75px;
      line-height: 135%;
      letter-spacing: 0.04em;
      margin-top: 17px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      &.\--hidden
        display none
      svg
        margin-right: 5px;
    &-footer
      width 100%
      display flex
      flex-wrap wrap
      justify-content space-between
      margin-top: 15px;
      align-items: flex-start;
      &.\--comment-open
        align-items: flex-end;
        .record-order__storage-footer-comment-title
          &:before
            content 'Скрыть комментарий'
        .record-order__storage-footer-comment-sect
          display block
      &-comment
        width: 48%;
        &-title
          font-weight: bold;
          font-size: 12.75px;
          line-height: 115%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color accent-red
          -webkit-appearance: none
          background-color transparent
          border none
          outline 0
          cursor pointer
          &:before
            content 'Добавить комментарий к заказу'
        &-sect
          display none
          margin-top: 6px;
          .field
            margin-bottom 0
      &-btn
        width: 24%;

.record-success
  background-image: url(/img/common/bg-2.png);
  background-repeat: repeat;
  padding: 31px 0;
  display none
  &__msg
    font-weight: bold;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    &:before
      font-family: "fontello";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: '\e806';
      width: 27px;
      height: 27px;
      margin-right: 11px;
      border-radius: 50%;
      background-color: #00c48c;
      color: #fff;
      font-size: 16px;
      line-height: 27px;
      text-align: center;
  &__info
    border: 3px solid #DFE2E9;
    background-color white
    border-radius: 60px 10px;
    display: inline-block;
    margin-top: 25px;
    padding: 21px 27px 8px
    min-width: 50%;
    &-label
      font-size: 12.75px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #566069;
      margin-bottom: 4px;
    &-value
      font-weight: 600;
      font-size: 14.5px;
      line-height: 150%;
      letter-spacing: 0.02em;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 14px;
      svg
        margin-right: 4px;
    &-date,
    &-time
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    &-date
      margin-right: 53px;


.record-steps
  &.\--record-by-city
    #record-date
      order 5
    #tire-centers
      order 4
  &__content
    display: flex;
    flex-direction: column;
    .centers
      order 1
    #record-bot
      order 2
    #record
      order 3
    #record-date
      order 4
    #tire-centers
      order 5
    #selected-center
      order 6
    #record-order
      order 7
