@import "nib"
@import "vars"
@import "mixins"

.wrapper
  margin auto
  padding-right 15px
  padding-left 15px
  max-width: 1140px
  @media (max-width: max-extra-large)
    max-width: 960px;
  @media (max-width: max-large)
    max-width 720px
  @media (max-width: max-medium)
    max-width 540px
  @media (max-width: max-sm)
    max-width 100%

.intro-main
  padding: 97px 0 112px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  @media (max-width: max-large)
    padding: 36px 0 54px;
  @media (max-width: max-medium)
    padding: 1px 0 25px;
  p
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    @media (max-width: max-large)
      font-size: 15px;
    @media (max-width: max-medium)
      font-size: 14px;
      line-height: 130%;
  &__btns
    margin: 40px 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-large)
      margin: 27px auto 12px;
      max-width: 458px;
    @media (max-width: max-medium)
      margin: 27px auto 7px;
    .btn
      width 23%
      @media (max-width: max-large)
        margin-bottom: 19px;
      @media (max-width: max-medium)
        margin-bottom: 13px;
      &:nth-of-type(1),
      &:nth-of-type(2)
        @media (max-width: max-large)
          width: 48%;
        @media (max-width: max-medium)
          width: 48%;
      &:nth-of-type(3),
      &:nth-of-type(4)
        @media (max-width: max-large)
          width: 48%;
        @media (max-width: max-medium)
          width 100%
  &__actions
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1120px;
    @media (max-width: max-extra-large)
      max-width: 1007px;
    @media (max-width: max-medium)
      padding: 0 0 0 5px;
    .slick-slider
      &:not(.slick-dotted)
        .slick-track
          width: auto !important;

.advantages
  padding: 39px 0 30px;
  background-image url("/img/common/bg-2.png")
  background-repeat: repeat;
  @media (max-width: max-large)
    padding: 31px 0 30px;
  @media (max-width: max-medium)
    padding: 15px 0 0;
  &.\--on-listing
    border: 1px solid #F1F3F4;
    border-radius: 65px 5px;
    padding: 30px 0 10px
    @media (max-width: max-large)
      padding: 15px 22px;
      border: none
      border-radius: 0
    @media (max-width: max-medium)
      padding: 10px 22px;
    .advantages__content
      flex-direction: column;
      padding: 0;
      @media (max-width: max-large)
        flex-direction: row;
    .advantage
      width: 100%;
      margin-bottom: 16px;
      @media (max-width: max-large)
        width: 25%;
        margin-bottom: 0;
        justify-content: center;
      .advantage__text
        @media (max-width: max-large)
          display none
  &__content
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-medium)
      flex-direction: column;

.filter-sect
  background-color: #ECEFF1;
  text-align: center;
  padding: 25px 0;
  @media (max-width: max-medium)
    padding: 14px 0;
  .btn
    padding: 0 28px;

.tabs-sect
  padding-top: 30px;
  padding-bottom: 23px;
  @media (max-width: max-large)
    padding-top: 17px;
    padding-bottom: 0
  @media (max-width: max-medium)
    padding-top: 15px;
    padding-bottom: 6px;
  &__title
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20.25px;
    line-height: 150%;
    letter-spacing: 0.04em;
    @media (max-width: max-large)
      font-size: 18px;
      margin-bottom: 16px;
    @media (max-width: max-medium)
      font-size: 16.75px;
      line-height: 111%;
      margin-bottom: 13px;

.our-brands
  text-align: center;
  padding: 9px 0 27px;
  @media (max-width: max-extra-large)
    padding: 9px 0 39px;
  @media (max-width: max-medium)
    padding: 9px 0 25px;
  &__title
    margin: 23px 0 12px;
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 10px 0 12px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 11px;
  p
    font-size: 12.75px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #566069;
    max-width: 930px;
    margin: auto;
    @media (max-width: max-medium)
      font-size: 12px;
      line-height: 130%;
  &__slider
    max-width: 1138px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: max-extra-large)
      max-width: 1010px;
      margin: 28px auto 0;
    @media (max-width: max-medium)
      margin: 28px auto 0;

.last-news
  text-align: center;
  padding: 9px 0 41px;
  background-image url("/img/common/bg-5.jpg")
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: max-extra-large)
    padding: 9px 0 30px;
  @media (max-width: max-medium)
    padding: 9px 0 20px;
  &__title
    margin: 23px 0 12px;
    font-weight: 600;
    font-size: 35px;
    line-height: 110%;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 18px 0 31px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 11px;
  &__slider
    max-width: 1138px;
    margin: 30px auto 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: max-extra-large)
      max-width: 1010px;
      margin: 28px auto 25px
    @media (max-width: max-medium)
      margin: 18px auto 19px;

.type-centers
  background-color #768592
  text-align center
  padding: 31px 0 0;
  position relative
  @media (max-width: max-extra-large)
    padding: 9px 0 0;
  @media (max-width: max-medium)
    padding: 10px 0 0;
  &:after
    content ''
    background-image url("/img/common/bg-6.png")
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    z-index: 1;
  &__title
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    color white
    margin-bottom: 12px;
    position relative
    z-index: 2;
    @media (max-width: max-extra-large)
      font-size: 27.75px;
      margin: 18px 0 10px;
    @media (max-width: max-medium)
      font-size: 25.75px;
      line-height: 120%;
      margin: 10px 0 8px;
  &__text
    font-size: 12.75px;
    line-height: 150%;
    color: #F1F3F4
    letter-spacing: 0.04em;
    max-width: 910px;
    margin: auto;
    position relative
    z-index: 2;
    @media (max-width: max-medium)
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.02em;
  &__btns
    margin: auto;
    padding: 19px 0 29px;
    max-width: 970px;
    position relative
    z-index: 2;
    @media (max-width: max-medium)
      padding: 15px 12px;
      display flex
      flex-wrap wrap
      justify-content space-between

.listing-grid
  &__header
    background-color #ECEFF1
    &-controls
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items center
      padding: 12px 0;
      @media (max-width: max-medium)
        flex-direction: column;
        text-align: center;
        padding: 13px 0;
      &-left
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items baseline
        width: 74%;
        @media (max-width: max-extra-large)
          width: 88%;
        @media (max-width: max-medium)
          align-items center
          width: 100%;
        @media (max-width: max-sm)
          justify-content: center;
      &-right
        display: flex;
        align-items: center;
        @media (max-width: max-medium)
          display none
      &-info
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        @media (max-width: max-extra-large)
          font-size: 15px;
          width: calc(100% - 240px)
        @media (max-width: max-medium)
          text-align: left;
          padding-right: 15px;
          font-size: 14px;
          line-height: 130%;
        @media (max-width: max-sm)
          padding-right 0
          width: 100%;
          text-align center
          margin-bottom: 16px;
      &-list
        width: 252px;
        text-align: left;
        @media (max-width: max-extra-large)
          width: 240px;
        .field
          margin-bottom 0
  &__main
    padding: 26px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: max-large)
      flex-direction: column-reverse;
      padding: 21px 0 0
  &__cards
    margin: 0 -15px;
    width: 856px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @media (max-width: max-extra-large)
      margin: 0 -7px;
      width: 735px;
    @media (max-width: max-large)
      margin: 0;
      width: 100%;
    @media (max-width: max-sm)
      flex-direction: column;
      align-items: center;
    &.\--horizontal-cards
      margin: 0;
      width: 826px;
      @media (max-width: max-extra-large)
        width: 740px;
      @media (max-width: max-large)
        width 100%
      .type-card
        width: 100%;
        height: 204px;
        margin: 0 0 26px;
        border-radius: 25px 5px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: max-large)
          height: 180px;
          margin: 0 0 23px;
        &.\--simple-banner
          display none
        &.\--with-banner
          height: auto;
          .type-card__img
            height: 202px;
            @media (max-width: max-extra-large)
              height: 197px;
            @media (max-width: max-large)
              height: 192px;
          .type-card__main
            padding: 20px 15px 14px 29px;
            @media (max-width: max-extra-large)
              padding: 20px 10px 10px 10px;
          .type-card__banner
            display block
        &__img
          border-bottom: none;
          height: 100%;
          width: 31%;
          @media (max-width: max-large)
            width: 32%;
        &__brand
          margin-bottom 17px
        &__main
          display: flex;
          flex-wrap: wrap;
          padding: 20px 15px 20px 29px;
          width: 69%;
          @media (max-width: max-large)
            padding: 10px;
            width: 68%;
          &-sect
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 74%;
            &-top
              padding: 0;
              z-index: 3;
            &-btm
              opacity: 1;
              position: static;
              pointer-events: all;
              visibility: visible;
              transform: translateY(0);
              padding: 0 0 8px;
              border-radius: 0;
              background-color: white;
              box-shadow: none !important
              @media (max-width: max-large)
                padding: 0 0 13px;
                display block
              &-further
                display none
          &-controls
            width: 26%;
            padding: 0;
            border-radius: 0;
            flex-direction: column
            align-items: flex-end;
            justify-content: flex-start;
            @media (max-width: max-large)
              //
            &-block
              width: 100%;
              padding-top: 0;
              &:first-of-type
                margin-bottom: 19px;
        &__title
          -webkit-line-clamp: 1;
          height auto
        &__info
          display: inline-flex;
          position: relative;
          z-index: 1;
          flex-wrap: wrap;
          align-items center
          margin: 5px 0 0;
          @media (max-width: max-large)
            margin: 10px 0 0;
          &:hover
            .type-card__info-modal
              opacity 1
              pointer-events all
              visibility visible
          &-type
            margin: 0 9px 0 0;
          &-icons
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        &__price
          &.\--old
            @media (max-width: max-large)
              margin-bottom: 2px;
        &__profit
          text-align: right;
        &__quick-order
          margin-top: 11px;
        &__further-info
          margin-bottom: 0;
          margin-top: 3px;
          &-label
            width: auto;
            min-width: 26%;
            padding-right: 10px;
            @media (max-width: max-large)
              min-width: 29%;
  &__aside
    width: 160px;
    @media (max-width: max-large)
      width: 100%;
      margin-bottom: 15px;
    @media (max-width: max-medium)
      margin: 0 -15px 17px
      width: calc(100% + 30px);
  &__sticky
    position: sticky;
    top: 85px;
    @media (max-width: max-extra-large)
      top: 125px;
    @media (max-width: max-large)
      position: static;
