@import "nib"
@import "vars"
@import "mixins"


.slick-dots
  normalize_list()
  display: flex;
  margin: 7px 0 0;
  justify-content: center;
  @media (max-width: max-medium)
    margin: 9px 0 0;
  li
    font-size: 0;
    line-height: 0;
    display: inline-block;
    margin: 0 3px;
    @media (max-width: max-medium)
      margin: 0 2px;
    &.slick-active button
      background-color accent-red
      border-color accent-red
    button
      -webkit-appearance: none;
      border: 1px solid black;
      border-radius: 50%;
      outline: 0;
      display: inline-block;
      padding: 0;
      width: 12px;
      height: 12px;
      font-size: 0;
      background-color: transparent;
      line-height: 0;
      @media (max-width: max-medium)
        width: 9px;
        height: 9px;

.slider-producers
  position relative
  margin-bottom: 29px;
  @media (max-width: max-large)
    margin-bottom: 26px;
  @media (max-width: max-medium)
    margin-bottom: 18px;
  &__main
    font-size: 0;
    line-height: 0;
  &__item
    height 400px
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: max-large)
      height 215px
    @media (max-width: max-medium)
      height: 48vw;
      max-height: 230px;
      min-height: 180px
  &__arrows
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: max-large)
      display none

.last-reviews
  text-align: center;
  padding: 29px 0 40px;
  background-color #ECEFF1
  @media (max-width: max-extra-large)
    padding: 29px 0 26px;
  @media (max-width: max-medium)
    padding: 20px 0 23px;
  &__content
    @media (max-width: max-large)
      padding-left: 27px;
    @media (max-width: max-medium)
      padding-left: 0
  &__slider
    max-width: 1138px;
    margin: 0 auto
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media (max-width: max-extra-large)
      max-width: 1010px;

