max-extra-large = 1680px;
max-large = 991px;
max-medium = 767px;
max-sm = 575px;

//@media (max-width: max-extra-large)
//@media (max-width: max-large)
//@media (max-width: max-medium)
//@media (max-width: max-sm)

accent-dark = #0C0033
accent-red = #F44336
accent-green = #00C48C
//accent-color = #52ac3f
